<div class="gu-flex gu-flex-col gu-items-center gu-border-dashed gu-border-gray-200 gu-border-2 gu-rounded-lg gu-p-4">
    <div class="gu-text-center gu-flex gu-items-center gu-flex-col gu-mx-auto gu-max-w-lg gu-px-4 gu-w-full">
        <div class="max-w-full gu-w-12">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="gu-w-full gu-h-full">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
            </svg>
        </div>

        <h3 class="gu-mt-6 gu-text-4xl">{{#str}} pluginname, block_gearup {{/str}}</h3>
        <div class="gu-border-b gu-border-gray-200 gu-h-px gu-w-full gu-mb-6"></div>

        <p class="gu-text-xl">{{#str}} pluginnotactivated, block_gearup {{/str}}</p>

        <p>{{#str}} toactivateprovidelicencedetails, block_gearup {{/str}}</p>

        <form method="post" action="{{ formurl }}" class="gu-w-full">
            <input type="hidden" name="sesskey" value="{{ sesskey }}">
            <div class="gu-flex gu-flex-col gu-items-start gu-w-full">
                <label for="gu-licence-key" class="gu-m-0 gu-sr-only">{{#str}} licencekey, block_gearup {{/str}}</label>
                <div class="gu-flex gu-gap-2 gu-w-full">
                    <input name="activation-key" id="gu-licence-key" type="text" class="gu-grow gu-text-lg gu-px-4 gu-py-2 form-control" placeholder="Enter licence key...">
                    <button class="btn btn-primary gu-text-lg">{{#str}} activate, block_gearup {{/str}}</button>
                </div>
            </div>
        </form>

        <div class="gu-w-full gu-text-left gu-text-sm gu-mt-4 gu-text-gray-500">
            {{{ noteshtml }}}
        </div>
    </div>
</div>
