{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/advanced-heading

    Advanced heading.

    Example context (json):
    {
    }
}}
<div class="gu-flex gu-mb-6 gu-gap-4 gu-flex-wrap md:gu-flex-nowrap">
  <div class="gu-grow">
    <div class="gu-space-y-2">
      {{#title}}
      <{{#islevel2}}h2{{/islevel2}}{{^islevel2}}h3{{/islevel2}} class="gu-m-0 gu-leading-6">
        {{ title }}
      </{{#islevel2}}h2{{/islevel2}}{{^islevel2}}h3{{/islevel2}}>
      {{/title}}
      {{#hasintro}}
        <div class="gu-max-w-3xl gu-text-gray-500">
          {{ intro }}
          {{#helpicon}}
            {{> core/help_icon }}
          {{/helpicon}}
        </div>
      {{/hasintro}}
    </div>
  </div>
  <div class="gu-flex gu-gap-4 gu-items-start gu-ml-auto md:gu-ml-0">
    <div class="gu-flex gu-flex-wrap gu-gap-4 gu-items-start gu-whitespace-nowrap">
    {{# actions }}
      {{{.}}}
    {{/ actions }}
    </div>
    {{# hasmenu }}
      {{> block_gearup/menu }}
    {{/hasmenu}}
  </div>
</div>