{{#hasany}}
<div id="gu-challenges-{{uniqid}}">

    <h5 class="gu-heading-xs gu-flex gu-items-center gu-mb-4">
        <div class="gu-flex-1">
            {{#context.iscourse}}
            {{#str}} challengescourse, block_gearup {{/str}}
            {{/context.iscourse}}
            {{#context.issystem}}
            {{#str}} challengessystem, block_gearup {{/str}}
            {{/context.issystem}}
            {{#context.anywhere}}
            {{#str}} challenges, block_gearup {{/str}}
            {{/context.anywhere}}
        </div>
    </h5>

    <div class="gu-space-y-1.5">
        {{#challenges}}
        <div data-id="{{id}}" id="challenge-{{id}}-{{uniqid}}">
            <a class="[.no-overflow_&]:gu-mx-0 gu--mx-1 gu-p-1 gu-block gu-no-underline gu-text-current hover:gu-bg-gray-100 gu-bg-opacity-0 hover:gu-bg-opacity-100 gu-transition-colors gu-rounded focus:gu-ring-inset focus:gu-ring focus:gu-ring-blue-500"
                role="button" href="#" onclick="return false" data-element="trigger">
                <div class="gu-flex gu-gap-1">
                    <div class="gu-grow gu-overflow-hidden">
                        <h3 class="gu-font-bold gu-text-base gu-leading-snug gu-m-0 gu-truncate" title="{{ mission.title }}">{{ mission.title }}</h3>
                    </div>
                    <div class="gu-shrink-0 gu-flex gu-gap-1 gu-items-center">
                        {{#mission.timing.isrepeating}}
                        <div class="gu-whitespace-nowrap gu-px-2 gu-py-1 gu-bg-blue-200 gu-text-black gu-rounded gu-text-2xs">
                            {{#mission.timing.repeats.daily}}{{#str}}daily, block_gearup{{/str}}{{/mission.timing.repeats.daily}}
                            {{#mission.timing.repeats.weekly}}{{#str}}weekly, block_gearup{{/str}}{{/mission.timing.repeats.weekly}}
                            {{#mission.timing.repeats.fortnightly}}{{#str}}fortnightly, block_gearup{{/str}}{{/mission.timing.repeats.fortnightly}}
                            {{#mission.timing.repeats.monthly}}{{#str}}monthly, block_gearup{{/str}}{{/mission.timing.repeats.monthly}}
                        </div>
                        {{/mission.timing.isrepeating}}
                        {{#hascompleted}}
                        <div class="gu-whitespace-nowrap gu-px-2 gu-py-1 gu-bg-green-700 gu-text-white gu-rounded gu-text-2xs">
                            {{#str}} completed, block_gearup {{/str}}
                        </div>
                        {{/hascompleted}}
                        {{^hascompleted}}
                            {{#hasdeadline}}
                            <div class="gu-whitespace-nowrap gu-px-2 gu-py-1 gu-bg-red-700 gu-text-white gu-rounded gu-text-2xs" data-countdown="{{ deadline}}">
                                {{{deadlinelefthtml}}}
                            </div>
                            {{/hasdeadline}}
                        {{/hascompleted}}
                    </div>
                </div>
            </a>
            <div>
                <ul class="!gu-list-none gu-m-0 gu-p-0 gu-space-y-1">
                    {{#objinsts}}
                    <li>{{> block_gearup/challenges/objective_instance}}</li>
                    {{/objinsts}}
                </ul>
            </div>
        </div>
        {{/challenges}}
    </div>
</div>
{{#js}}
require(['block_gearup/countdown', 'block_gearup/modal_challenge'], function(Countdown, Modal) {
    Countdown.initFromRoot('#gu-challenges-{{uniqid}}');
    Modal.registerFromRoot('#gu-challenges-{{uniqid}}');
});
{{/js}}
{{/hasany}}