{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/challenge_details

    TODO describe template challenge_details

    Example context (json):
    {
    }
}}
<div id="mission-{{ uniqid }}"
    data-gu-refreshable
    data-ws="block_gearup_get_mission"
    data-ws-args__missionid="{{ id }}"
    data-template="block_gearup/challenge_details">

    {{< block_gearup/page_intro }}
        {{$ title }}{{#str}} challenge, block_gearup {{/str}}{{/title}}
        {{$ description }}
            {{#str}} challengeexplaination, block_gearup {{/str}}
        {{/ description }}
    {{/ block_gearup/page_intro }}

    <div class="gu-border-t gu-border-gray-200 gu-py-5 sm:gu-p-0">
        <dl class="gu-divide-y gu-divide-gray-200">
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} missiontitle, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2 gu-flex">
                    <div class="gu-grow gu-flex gu-gap-2 gu-items-center">
                        <div class="gu-w-6 gu-h-6 gu-shrink-0">
                            {{> block_gearup/icons/challenge }}
                        </div>
                        {{ title }}
                    </div>
                    <div class="gu-ml-2 gu-shrink-0">
                        {{#iseditable}}
                        <button class="btn btn-secondary btn-sm"
                            data-gu-action="open-form"
                            data-form-class="block_gearup\form\challenge_identity_dynamic_form"
                            data-form-args__id="{{ id }}"
                            data-modal-title="{{#str}}editchallenge, block_gearup{{/str}}">
                            <span class="gu-sr-only">{{#str}} edit {{/str}}</span>
                            {{#pix}} i/edit {{/pix}}
                        </button>
                        {{/iseditable}}
                    </div>
                </dd>
            </div>
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} timing, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2 gu-flex">
                    <div class="gu-grow gu-flex gu-gap-2 gu-items-center">
                        {{#timing}}
                        {{^ hastimelimit }}{{# str }} nolimit, block_gearup {{/ str }}{{/ hastimelimit }}
                        {{# hastimelimit }}
                            {{# str }} timetocomplete, block_gearup {{/ str }}: {{ timelimitformatted }}
                            {{# isrepeating }}
                                <br>{{# str }} repeatalways, block_gearup {{/ str }}
                            {{/ isrepeating }}
                        {{/ hastimelimit }}
                        {{/timing}}
                    </div>
                    <div class="gu-ml-2 gu-shrink-0">
                        {{#iseditable}}
                        <button class="btn btn-secondary btn-sm"
                            data-gu-action="open-form"
                            data-form-class="block_gearup\form\challenge_timing_dynamic_form"
                            data-form-args__id="{{ id }}"
                            data-modal-title="{{#str}}editchallenge, block_gearup{{/str}}">
                            <span class="gu-sr-only">{{#str}} edit {{/str}}</span>
                            {{#pix}} i/edit {{/pix}}
                        </button>
                        {{/iseditable}}
                    </div>
                </dd>
            </div>
        </dl>
    </div>

    {{< block_gearup/section_intro }}
        {{$ title }}{{#str}} objectives, block_gearup {{/str}}{{/ title }}
        {{$ description }}
            {{#str}} objectivesareexplainationchallenge, block_gearup {{/str}}
        {{/ description }}
    {{/ block_gearup/section_intro }}

    <div class="gu-border-t gu-border-gray-200 gu-py-5 sm:gu-p-0">
        <dl class="gu-divide-y gu-divide-gray-200">
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} listofobjectives, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                    {{> block_gearup/quest_objectives_list}}
                </dd>
            </div>
        </dl>
    </div>

    {{< block_gearup/section_intro }}
        {{$ title }}{{#str}} outcomes, block_gearup {{/str}}{{/ title }}
        {{$ description }}
            {{#str}} outcomesareexplainationchallenge, block_gearup {{/str}}
        {{/ description }}
    {{/ block_gearup/section_intro }}

    <div class="gu-border-t gu-border-gray-200 gu-py-5 sm:gu-p-0">
        <dl class="gu-divide-y gu-divide-gray-200">
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} listofoutcomes, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                    {{> block_gearup/quest_outcomes_list }}
                </dd>
            </div>
        </dl>
    </div>

</div>
