<div class="gu--space-y-px gu-max-w-xl">
    {{#checkboxes}}
    <label class="gu-border-gray-200 gu-relative gu-border gu-border-solid gu-p-4 gu-flex gu-m-0 gu-items-start gu-justify-start
        {{#isavailable}}gu-cursor-pointer{{/isavailable}}
        {{^isavailable}}gu-cursor-not-allowed gu-bg-gray-100{{/isavailable}}
        ">
        <input type="checkbox" name="{{ name }}" {{#isavailable}} value="{{ value }}" {{#isselected}}checked{{/isselected}}
            {{/isavailable}} {{^isavailable}}disabled{{/isavailable}}
            class="gu-shrink-0 gu-h-4 gu-w-4 gu-mt-0.5 text-indigo-600 gu-border-gray-300" aria-labelledby="{{ uniqid }}-label"
            aria-describedby="{{ uniqid }}-description">
        <div class="gu-ml-3 gu-flex gu-flex-col">
            <div id="{{ uniqid }}-label"
                class="gu-text-sm gu-font-medium {{^isavailable}}gu-text-gray-700 gu-bg-gray-100{{/isavailable}}">
                {{ label }}
                {{^isavailable}}
                <span class="badge gu-badge-pill gu-badge-warning">
                    {{#str}} unavailable, block_gearup {{/str}}
                </span>
                {{/isavailable}}
            </div>
            {{# description }}
            <div id="{{ uniqid }}-description" class="gu-text-gray-500 gu-text-sm">
                {{ description }}
            </div>
            {{/ description }}
            {{^isavailable}}
            <div class="gu-text-xs gu-mt-1">
                {{#unavailablereasons}}
                <div>· {{ . }}</div>
                {{/unavailablereasons}}
            </div>
            {{/isavailable}}
        </div>
    </label>
    {{/checkboxes}}
</div>
