{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/group_switcher

    Mission instances filters.

    Example context (json):
    {
    }
}}
<div class="gu-flex gu-my-4">
    <div>
        <label for="gu-group-selector-groupid-{{uniqid}}" class="gu-sr-only">{{$ label }}{{ label }}{{/ label }}</label>
        <select
            id="gu-group-selector-groupid-{{uniqid}}"
            class="form-control form-select gu-inline-block gu-max-w-48"
            name="group" {{! Must be called group for now. }}
            data-url="{{ url }}"
            disabled
        >
            {{# groupoptions }}
                {{# isoptgroup }}
                    <optgroup label="{{ label }}">
                    {{# children }}
                        <option value="{{ value }}" {{# selected }}selected{{/selected}}>{{ label }}</option>
                    {{/ children }}
                    </optgroup>
                {{/ isoptgroup }}
                {{^ isoptgroup }}
                    <option value="{{ value }}" {{# selected }}selected{{/selected}}>{{ label }}</option>
                {{/ isoptgroup }}
            {{/ groupoptions }}
        </select>
    </div>
</div>
{{# js }}
require([], function() {
    const node = document.getElementById('gu-group-selector-groupid-{{uniqid}}');
    if (!node) {
        return;
    }
    node.removeAttribute('disabled');
    node.addEventListener('change', (e) => {
        window.location.href = node.dataset.url.replace('GROUPID', e.target.value);
    });
});
{{/ js }}
