<div class="gu-grid gu-grid-cols-4 lg:gu-grid-cols-6
    {{#isscrollable}}{{#hasmany}}gu-overflow-y-auto gu-h-64{{/hasmany}}{{/isscrollable}}
    {{#hasfew}}{{/hasfew}}
    gu-relative gu-snap-y gu-mt-1 gu-scroll-smooth"
    id="gu-image-group-{{ uniqid }}" data-scrollable="{{#isscrollable}}true{{/isscrollable}}">
    {{#sections}}
        {{#showsectionslabel}}
        <div class="gu-col-span-full gu-pl-2 gu-mt-2 mb-1 gu-border-gray-200 gu-border-b gu-border-solid">
            <div class="gu-uppercase gu-text-gray-500 gu-text-xs">
                {{ label }}
            </div>
        </div>
        {{/showsectionslabel}}
        {{#images}}
        <label class="{{^isunavailable}}gu-cursor-pointer{{/isunavailable}}">
            <input class="gu-peer gu-absolute gu--left-[100000px]"
                type="radio"
                name="{{ name }}"
                value="{{ value }}"
                {{#isselected}}checked{{/isselected}}
                {{#isunavailable}}disabled{{/isunavailable}}>
            <div class="gu-rounded gu-w-full gu-h-full gu-p-1 gu-border-4 gu-relative gu-border-transparent peer-checked:gu-border-blue-500 peer-checked:gu-bg-blue-200 gu-pointer-events-none gu-overflow-hidden gu-aspect-square">
                <img class="gu-w-full gu-max-w-full" src="{{ src }}" alt="{{ label }}">
                {{#isunavailable}}
                <div class="gu-absolute gu-bottom-0 gu-inset-x-0 gu-text-center">
                    <div class="badge gu-badge-pill gu-badge-warning">
                        {{#str}} unavailable, block_gearup {{/str}}
                    </div>
                </div>
                {{/isunavailable}}
            </div>
        </label>
        {{/images}}
    {{/sections}}
</div>
{{#js}}
(function() {
    function scroll(node) {
        if (!node) return;
        var target = node.tagName === 'INPUT' ? node.parentNode : node;
        target.scrollIntoView({behavior: "smooth", block: "nearest"});
    }
    var node = document.getElementById('gu-image-group-{{ uniqid }}');
    if (!node.dataset.scrollable) return;
    node.addEventListener('click', function(e) {
        if (e.target.tagName === 'INPUT') {
            scroll(e.target);
        }
    });
    scroll(node.querySelector('input:checked'));
})();
{{/js}}
