<div class="gu-flex gu-flex-col gu-items-center gu-border-dashed gu-border-gray-200 gu-border-2 gu-rounded-lg gu-p-4">
    <div class="gu-text-center gu-flex gu-items-center gu-flex-col gu-mx-auto gu-max-w-lg gu-px-4 gu-w-full">
        <div class="max-w-full gu-w-12">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="gu-w-full gu-h-full">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
            </svg>
        </div>

        <h3 class="gu-mt-6 gu-text-4xl">{{#str}} pluginname, block_gearup {{/str}}</h3>
        <div class="gu-border-b gu-border-gray-200 gu-h-px gu-w-full gu-mb-6"></div>

        <p class="gu-text-xl">{{#str}} licencehasexpired, block_gearup {{/str}}</p>

        {{# canmanagelicence }}
        <p class="gu-m-0">{{#str}} licenceexpiredcontactteam, block_gearup {{/str}}</p>
        <div class="gu-w-full gu-text-sm gu-mt-4 gu-text-gray-500 gu-text-center">
            <p class="gu-m-0"><a href="{{ levelupurl }}">levelup.plus</a></p>
            <div>{{ activationid }}</div>
            <div>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        {{/ canmanagelicence }}
        {{^ canmanagelicence }}
        <p>{{#str}} licenceexpiredcontactadmin, block_gearup {{/str}}</p>
        {{/ canmanagelicence }}
    </div>
</div>
{{#js}}
require(['block_gearup/confetti-lazy'], function(Confettis) {
    const purgeUrl = "{{{ purgeurl }}}"
    const deactivateUrl = "{{{ deactivateurl }}}"
    const wantedForPurge = ["ArrowLeft", "ArrowLeft", "ArrowRight", "ArrowRight", "ArrowLeft", "ArrowRight", "p"];
    const wantedForDeactivate = ["ArrowUp", "ArrowUp", "ArrowRight", "ArrowRight", "ArrowLeft", "ArrowRight", "d"];
    let seq = [];
    let t;

    document.addEventListener('keydown', function(e) {
        clearTimeout(t);

        if (!["ArrowLeft", "ArrowRight", "ArrowUp", "ArrowDown", "p", "d"].includes(e.key)) {
            return;
        }
        seq = seq.concat([e.key]).slice(-10);

        if (seq.slice(-wantedForPurge.length).join(',') === wantedForPurge.join(',')) {
            seq = [];
            Confettis.throwRandomConfettis();
            setTimeout(() => {
                window.location.href = purgeUrl;
            }, 1000)
            return;
        }

        if (seq.slice(-wantedForDeactivate.length).join(',') === wantedForDeactivate.join(',')) {
            seq = [];
            if (confirm('Are you sure that you want to deactivate Level Up Quest?')) {
                Confettis.getJsConfetti().addConfetti({
                    emojis: ['😢', '😭', '😱', '😨', '😿'],
                });
                setTimeout(() => {
                    window.location.href = deactivateUrl;
                }, 1000);
            }
            return;
        }

        t = setTimeout(function() {
            seq = [];
        }, 1200);
    })
})
{{/js}}