{{^hasassigners}}
<div class="gu-border-dashed gu-border-gray-200 gu-border-2 gu-rounded-lg gu-p-4" id="assigners-list-{{ uniqid }}">
    <div class="gu-text-lg gu-font-medium gu-leading-none">
        {{#str}} noassigners, block_gearup{{/str}}
    </div>
    {{# iseditable }}
    <p class="gu-mt-2 gu-text-sm">
        {{#str}} getstartednewassigner, block_gearup {{/str}}
    </p>
    <div class="gu-mt-4">
        <button data-action="new-resource" data-mod="block_gearup/react-resource-creator-lazy"
            data-props-resource-external-function="block_gearup_get_assigner_types"
            data-props-resource-external-function-args__contextid="{{ contextid }}"
            data-props-form-class="block_gearup\form\assigner_dynamic_form" data-props-form-args__missionid="{{ id }}"
            data-props-form-resource-arg-alias="type" data-modal-large="true"
            data-modal-title="{{#str}} newassigner, block_gearup {{/str}}" type="button"
            class="btn btn-secondary gu-inline-flex gu-items-center">
            <svg class="gu--ml-1 gu-mr-2 gu-h-5 gu-w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                    clip-rule="evenodd" />
            </svg>
            {{#str}} newassigner, block_gearup {{/str}}
        </button>
    </div>
    {{/ iseditable }}
</div>
{{/hasassigners}}
{{#hasassigners}}
<div class="gu-divide-y gu-divide-gray-200" id="assigners-list-{{ uniqid }}">
    {{#assigners}}
    <div class="gu-flex gu-py-4 sm:gu-py-4 first:gu-pt-0 last:gu-pb-0">
        <div class="gu-grow">
            <div class="">
                {{ type }}
            </div>
        </div>
        {{#iseditable}}
        <div class="gu-ml-2 gu-shrink-0">
            <button class="btn btn-secondary btn-sm" data-action="resource-edit"
                data-form-class="block_gearup\form\assigner_dynamic_form" data-form-args__id="{{ id }}"
                data-form-args__missionid="{{ missionid }}" data-modal-title="{{#str}} editassigner, block_gearup {{/str}}">
                <span class="gu-sr-only">{{#str}} edit {{/str}}</span>
                {{#pix}} i/edit {{/pix}}
            </button>
        </div>
        {{/iseditable}}
    </div>
    {{/assigners}}
    {{#iseditable}}
    <div class="gu-py-4 sm:gu-py-4 first:gu-pt-0 last:gu-pb-0">
        <a href="#" class="gu-inline-flex gu-items-center" data-action="new-resource"
            data-mod="block_gearup/react-resource-creator-lazy"
            data-props-resource-external-function="block_gearup_get_assigner_types"
            data-props-resource-external-function-args__contextid="{{ contextid }}"
            data-props-form-class="block_gearup\form\assigner_dynamic_form" data-props-form-args__missionid="{{ id }}"
            data-props-form-resource-arg-alias="type" data-modal-large="true"
            data-modal-title="{{#str}} newassigner, block_gearup {{/str}}">
            <svg class="gu-mr-1 gu-h-4 gu-w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                    clip-rule="evenodd" />
            </svg>
            {{#str}} newassigner, block_gearup {{/str}}</a>
    </div>
    {{/iseditable}}
</div>
{{/hasassigners}}

{{#iseditable}}
{{#js}}
require(['block_gearup/modal_form', 'block_gearup/react-launcher'], function(ModalForm, ReactLauncher) {

ModalForm.delegateOpen('#assigners-list-{{ uniqid }}', '[data-action=resource-edit]');
ReactLauncher.registerLaunchInModal('#assigners-list-{{ uniqid }}', '[data-action=new-resource]');

});
{{/js}}
{{/iseditable}}
