<div>
    <dl class="gu-grid gu-grid-cols-2 md:gu-grid-flow-col md:gu-grid-cols-1fr gu-bg-gray-50 gu-rounded gu-mb-4">
        {{#stats}}
        <div class="gu-flex gu-flex-col gu-p-6 gu-text-center gu-col-span-1">
            <dt class="gu-order-2 gu-text-sm gu-font-medium">{{ label }}</dt>
            <dd class="gu-order-1 gu-text-5xl gu-font-bold gu-tracking-tight gu-text-gray-700">{{ value }}</dd>
        </div>
        {{/stats}}
    </dl>
    <div class="gu-grid md:gu-grid-cols-2 gu-gap-4">
        {{#charts}}
            <div class="gu-flex gu-flex-col gu-p-4 gu-bg-gray-50 gu-rounded">
                <h3 class="gu-m-0 gu-text-lg gu-grow-0 gu-shrink-0">{{ title }}</h3>
                <div class="gu-flex gu-flex-col gu-grow [&>.chart-area]:gu-min-h-[4rem] [&_.chart-image]:gu-max-w-full [&_.chart-image]:gu-max-h-full [&_.chart-image]:lg:gu-max-h-[48vh] [&_.chart-image]:gu-h-auto [&_.chart-image]:gu-aspect-square">
                    {{#chart}}
                        {{{ . }}}
                        {{#note}}
                            <div class="gu-mt-6 gu-text-xs gu-text-gray-700">{{ . }}</div>
                        {{/note}}
                    {{/chart}}
                    {{^chart}}
                        <div class="gu-pt-4 gu-grow gu-flex">
                        {{< block_gearup/zero_state_block }}
                            {{$ icon }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="gu-size-16">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
                                </svg>
                            {{/ icon }}
                            {{$ title }}{{/ title }}
                            {{$ subtitle }}{{#str}}notenoughdatatoshow, block_gearup{{/str}}{{/ subtitle }}
                        {{/ block_gearup/zero_state_block }}
                        </div>
                    {{/chart}}
                </div>
            </div>
        {{/charts}}
    </div>
</div>