<div class="gu-divide-y gu-divide-gray-200">
    <a href="{{ createquesturl }}" class="gu-p-4 gu-flex gu-flex-row gu-text-current gu-no-underline hover:gu-bg-gray-100">
        <div class="gu-shrink-0 gu-w-12 gu-mr-4">
            {{> block_gearup/icons/quest }}
        </div>
        <div class="gu-grow">
            <div class="gu-text-xl gu-text-medium">{{#str}} quest, block_gearup {{/str}}</div>
            <div class="gu-max-w-md gu-text-gray-500">{{#str}} questexplaination, block_gearup {{/str}}</div>
        </div>
    </a>

    <a href="{{ createachievementurl }}" class="gu-p-4 gu-flex gu-flex-row gu-text-current gu-no-underline hover:gu-bg-gray-100">
        <div class="gu-shrink-0 gu-w-12 gu-mr-4">
            {{> block_gearup/icons/achievement }}
        </div>
        <div class="gu-grow">
            <div class="gu-text-xl gu-text-medium">{{#str}} achievement, block_gearup {{/str}}</div>
            <div class="gu-max-w-md gu-text-gray-500">{{#str}} achievementexplaination, block_gearup {{/str}}</div>
        </div>
    </a>

    {{# createchallengeurl }}
    <a href="{{ createchallengeurl }}" class="gu-p-4 gu-flex gu-flex-row gu-text-current gu-no-underline hover:gu-bg-gray-100">
        <div class="gu-shrink-0 gu-w-12 gu-mr-4">
            {{> block_gearup/icons/challenge }}
        </div>
        <div class="gu-grow">
            <div class="gu-text-xl gu-text-medium">{{#str}} challenge, block_gearup {{/str}}</div>
            <div class="gu-max-w-md gu-text-gray-500">{{#str}} challengeexplaination, block_gearup {{/str}}</div>
        </div>
    </a>
    {{/ createchallengeurl }}
</div>