{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/mission_advanced

    TODO describe template mission_assign

    Example context (json):
    {
    }
}}
<div class="gu-divide-y gu-divide-gray-100">
    <div class="gu-pt-4 gu-mb-4 first:gu-pt-0">
        <h4>{{#str}} duplicatemission, block_gearup {{/str}}</h4>
        <div class="gu-max-w-prose">
            <p class="gu-text-gray-500">{{#str}} duplicatemissiondesc, block_gearup {{/str}}</p>
            <div>
                <button class="btn btn-secondary"
                    type="button"
                    data-gu-action="open-form"
                    data-form-class="block_gearup\form\duplicate_mission_dynamic_form"
                    data-form-args__id="{{ id}}"
                    data-modal-title="{{# str }} duplicatemission, block_gearup {{/ str }}"
                    data-modal-buttons__save__label="{{# str }} duplicate, core {{/ str }}">
                {{#str}} duplicate, core {{/str}}</button>
            </div>
        </div>
    </div>

    <div class="gu-pt-4 gu-mb-4 first:gu-pt-0">
        <h4>{{#str}} archivemission, block_gearup {{/str}}</h4>
        <div class="gu-max-w-prose">
            <p class="gu-text-gray-500">{{#str}} archivemissiondesc, block_gearup {{/str}}</p>
            <div>
                <button class="btn btn-secondary"
                    {{^ isarchivable }}disabled{{/ isarchivable }}
                    type="button"
                    data-gu-action="open-form"
                    data-form-class="block_gearup\form\archive_mission_dynamic_form"
                    data-form-args__id="{{ id}}"
                    data-form-args__redirecturl="{{ pageurl }}"
                    data-modal-large="false"
                    data-modal-title="{{# str }} archivemission, block_gearup {{/ str }}"
                    data-modal-buttons__save__label="{{# str }} archive, block_gearup {{/ str }}"
                    data-modal-buttons__save__danger="true">
                {{#str}} archive, block_gearup {{/str}}</button>
            </div>
        </div>
    </div>

    <div class="gu-pt-4 gu-mb-4 first:gu-pt-0">
        <h4 class="text-danger">{{#str}} deletemission, block_gearup {{/str}}</h4>
        <div class="gu-max-w-prose">
            <p class="gu-text-gray-500">{{#str}} deletemissiondesc, block_gearup {{/str}}</p>
            <div>
                <button class="btn btn-danger"
                    type="button"
                    data-gu-action="open-form"
                    data-form-class="block_gearup\form\delete_mission_dynamic_form"
                    data-form-args__id="{{ id }}"
                    data-form-args__redirecturl="{{ listurl }}"
                    data-modal-large="false"
                    data-modal-title="{{# str }} deletemission, block_gearup {{/ str }}"
                    data-modal-buttons__save__label="{{# str }} delete, core {{/ str }}"
                    data-modal-buttons__save__danger="true">
                {{#str}} delete, core {{/str}}</button>
            </div>
        </div>
    </div>
</div>