{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/mission_user

    TODO describe template mission_user

    Example context (json):
    {
    }
}}
<div>
<div class="gu-flex gu-gap-4">
    <div class="gu-grow gu-flex gu-gap-3">
        <div class="gu-h-10 gu-w-10 gu-flex gu-items-center">
            <a class="gu-h-10 gu-w-10 gu-transition-colors gu-text-inherit gu-flex gu-justify-center gu-items-center gu-rounded-full gu-bg-gray-100 hover:gu-bg-gray-200 gu-overflow-hidden" href="{{ listurl }}"
                    data-toggle="tooltip" data-bs-toggle="tooltip"
                    title={{#quote}}{{#str}}viewotherrecruits, block_gearup{{/str}}{{/quote}}>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="gu-size-5 -gu-ml-1" aria-hidden>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="gu-size-5 gu-relative -gu-ml-1" aria-hidden>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                </svg>
                <span class="gu-sr-only">{{#str}}viewotherrecruits, block_gearup{{/str}}</span>
            </a>
        </div>
        <div>
            {{# subject }}
                {{> block_gearup/recruit_heading }}
            {{/ subject }}
        </div>
    </div>
    <div class="gu-flex gu-gap-4 gu-items-start gu-ml-auto md:gu-ml-0">
        <div class="gu-flex gu-flex-wrap gu-gap-4 gu-items-start gu-whitespace-nowrap">
        {{# menu }}{{# hasmenu }}
            {{> block_gearup/menu }}
        {{/ hasmenu }}{{/ menu}}
        </div>
    </div>
</div>
{{{ table }}}
</div>
