{{^hasobjectives}}
<div class="gu-border-dashed gu-border-gray-200 gu-border-2 gu-rounded-lg gu-p-4" id="objectives-list-{{ uniqid }}">
    <div class="gu-text-lg gu-font-medium gu-leading-none">
        {{#str}} noobjectives, block_gearup{{/str}}
    </div>
    <p class="gu-mt-2 gu-text-sm">
        {{#str}} getstartednewobjective, block_gearup {{/str}}
    </p>
    <div class="gu-mt-4">
        <button data-action="new-resource" data-mod="block_gearup/react-resource-creator-lazy"
            data-props-resource-external-function="block_gearup_get_objective_types"
            data-props-resource-external-function-args__contextid="{{ contextid }}"
            data-props-form-class="block_gearup\form\objective_dynamic_form" data-props-form-args__missionid="{{ id }}"
            data-props-form-resource-arg-alias="type" data-modal-large="true"
            data-modal-title="{{#str}} newobjective, block_gearup {{/str}}" type="button"
            class="btn btn-secondary gu-inline-flex gu-items-center">
            <svg class="gu--ml-1 gu-mr-2 gu-h-5 gu-w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                    clip-rule="evenodd" />
            </svg>
            {{#str}} newobjective, block_gearup {{/str}}
        </button>
    </div>
</div>
{{/hasobjectives}}
{{#hasobjectives}}
<div class="gu-divide-y gu-divide-gray-200" id="objectives-list-{{ uniqid }}">
    {{#objectives}}
    <div class="gu-flex gu-py-4 sm:gu-py-4 first:gu-pt-0 last:gu-pb-0">
        {{^ label}}
        <div class="gu-grow gu-flex">
            <div class="gu-mr-2 gu-min-w-[4rem]">
                {{ countneeded }}x
            </div>
            <div class="gu-grow">
                {{ type }}
            </div>
        </div>
        {{/ label}}
        {{# label }}
        <div class="gu-grow">
            <div class="">
                {{ label }}
            </div>
            <div class="gu-text-xs gu-text-gray-700">
                {{ countneeded }}x {{ type }}
            </div>
        </div>
        {{/ label }}
        {{#iseditable}}
        <div class="gu-ml-2 gu-shrink-0">
            <button class="btn btn-secondary btn-sm"
                data-gu-action="open-form"
                data-form-class="block_gearup\form\objective_dynamic_form"
                data-form-args__id="{{ id }}"
                data-form-args__missionid="{{ missionid }}"
                data-modal-title="{{#str}} editobjective, block_gearup {{/str}}">
                <span class="gu-sr-only">{{#str}} edit {{/str}}</span>
                {{#pix}} i/edit {{/pix}}
            </button>
        </div>
        {{/iseditable}}
    </div>
    {{/objectives}}
    {{#iseditable}}
    <div class="gu-py-4 sm:gu-py-4 first:gu-pt-0 last:gu-pb-0">
        <a href="#" onclick="return false" class="gu-inline-flex gu-items-center" data-action="new-resource"
            data-mod="block_gearup/react-resource-creator-lazy"
            data-props-resource-external-function="block_gearup_get_objective_types"
            data-props-resource-external-function-args__contextid="{{ contextid }}"
            data-props-form-class="block_gearup\form\objective_dynamic_form" data-props-form-args__missionid="{{ id }}"
            data-props-form-resource-arg-alias="type" data-modal-large="true"
            data-modal-title="{{#str}} newobjective, block_gearup {{/str}}">
            <svg class="gu-mr-1 gu-h-4 gu-w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                    clip-rule="evenodd" />
            </svg>
            {{#str}} newobjective, block_gearup {{/str}}</a>
    </div>
    {{/iseditable}}
</div>
{{/hasobjectives}}

{{#iseditable}}
{{#js}}
require(['block_gearup/modal_form', 'block_gearup/react-launcher'], function(ModalForm, ReactLauncher) {
ReactLauncher.registerLaunchInModal('#objectives-list-{{ uniqid }}', '[data-action=new-resource]');
});
{{/js}}
{{/iseditable}}
