{{< core/modal }}
{{$footer}}
    <div class="block_gearup" style="width: 100%">
        <div class="gu-flex gu-flex-row-reverse gu-gap-1">
            <div class="gu-shrink-0 gu-space-x-1">
                <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel {{/str}}</button>
                <button type="button" class="btn btn-primary" data-action="save">{{#str}} savechanges {{/str}}</button>
            </div>
            <div class="gu-grow">
                <button type="button" class="btn btn-danger" data-action="delete" style="display: none;">{{#str}} delete {{/str}}</button>
            </div>
        </div>
    </div>
{{/footer}}
{{/ core/modal }}
