<div id="gu-achievements-{{uniqid}}">

    <div class="gu-text-sm gu-mb-2">
        <a href="{{ returnurl }}">{{ returnstr }}</a>
    </div>

    {{^hasinstances}}
        {{< block_gearup/zero_state_block }}
            {{$icon}}{{> block_gearup/icons/achievement }}{{/icon}}
            {{$title}}{{#str}} achievements, block_gearup {{/str}}{{/title}}
            {{$subtitle}}{{#str}} noachievementstounlock, block_gearup {{/str}}{{/subtitle}}
        {{/ block_gearup/zero_state_block }}
    {{/hasinstances}}

    {{#hasinstances}}
    <h2>{{#str}} yourachievements, block_gearup {{/str}}</h2>
    <div class="gu-max-w-2xl">
        <div class="gu-my-6">
            <div class="gu-uppercase gu-text-xs">{{#str}} overallprogress, block_gearup {{/str}}</div>
            <div class="gu-flex gu-w-full gu-items-center">
                {{< block_gearup/progress_bar_animated }}
                    {{$ ratiopc }}{{ totalcompletionratiopc }}{{/ ratiopc }}
                    {{$ after }}
                        <div class="gu-min-w-[2.5rem] gu-pl-2 gu-text-right gu-whitespace-nowrap">{{ totalcompleted }} / {{ total }}</div>
                    {{/ after }}
                {{/ block_gearup/progress_bar_animated }}
            </div>
        </div>
        <div class="gu-grid gu-grid-cols-5 gu-gap-2 gu-gap-y-4">
            {{#instances}}
                <a class="gu-transition-all hover:gu-scale-105 gu-overflow-hidden gu-no-underline gu-text-current gu-block" href="#" onclick="return false" data-element="trigger" data-id="{{ id }}">
                    <div class="gu-w-full">
                        {{#hascompleted}}
                            {{#mission}}
                                {{> block_gearup/achievements/badge_thumbnail }}
                            {{/mission}}
                        {{/hascompleted}}
                        {{^hascompleted}}
                            {{> block_gearup/achievements/badge_thumbnail_locked }}
                        {{/hascompleted}}
                    </div>
                    <div class="gu-mt-1">
                        <div class="gu-text-xs gu-text-center">
                            {{ mission.title }}
                            {{#hascompleted}}
                                <span class="gu-sr-only">({{#str}} unlocked, block_gearup {{/str}})</span>
                            {{/hascompleted}}
                        </div>
                    </div>
                </a>
            {{/instances}}
        </div>
    </div>
    {{/hasinstances}}

</div>
{{#js}}
require(['block_gearup/modal_achievement'], function(Modal) {
    Modal.registerFromRoot('#gu-achievements-{{uniqid}}');
});
{{/js}}
