<div id="gu-quests-{{uniqid}}">

    <div class="gu-text-sm gu-mb-2">
        <a href="{{ returnurl }}">{{ returnstr }}</a>
    </div>

    {{^hasany}}
        {{< block_gearup/zero_state_block }}
            {{$icon}}{{> block_gearup/icons/quest }}{{/icon}}
            {{$title}}{{#str}} quests, block_gearup {{/str}}{{/title}}
            {{$subtitle}}{{#str}} noquestsatthemoment, block_gearup {{/str}}{{/subtitle}}
        {{/ block_gearup/zero_state_block }}
    {{/hasany}}

    {{#hasany}}
        <h2>{{#str}} yourquests, block_gearup {{/str}}</h2>

        {{{ nav }}}

        {{# isongoingmode }}
        {{# hasinstances }}
        <div class="gu-max-w-md">
        {{# instances }}
            <div class="gu-mb-2 last:gu-mb-0">
                {{> block_gearup/quests/instance_inprogress }}
            </div>
            <div class="gu-border-0 gu-border-t gu-border-dashed gu-border-gray-200 last:gu-hidden"></div>
        {{/ instances }}
        </div>
        {{/ hasinstances }}
        {{^ hasinstances }}
            {{< block_gearup/zero_state_block }}
                {{$icon}}{{> block_gearup/icons/quest }}{{/icon}}
                {{$title}}{{#str}} quests, block_gearup {{/str}}{{/title}}
                {{$subtitle}}{{#str}} noquestsatthemoment, block_gearup {{/str}}{{/subtitle}}
            {{/ block_gearup/zero_state_block }}
        {{/ hasinstances }}
        {{/ isongoingmode }}

        {{# isfinishedmode }}
        {{# hasinstances }}
        <div class="gu-grid sm:gu-grid-cols-2 gu-max-w-xl gu-gap-2">
        {{# instances }}
            <div class="" data-id="{{id}}"">
                <a role="button" href="#" onclick="return false" class="gu-text-current gu-no-underline gu-flex gu-gap-2 gu-items-center gu-bg-gray-100 gu-bg-opacity-0 hover:gu-bg-opacity-100 gu-transition-colors gu-rounded"
                    data-element="trigger">
                    <div class="gu-relative gu-self-start">
                        <div class="gu-h-12 gu-w-12">
                            {{#mission}}{{> block_gearup/quests/narrator_thumbnail}}{{/mission}}
                        </div>
                    </div>
                    <div class="gu-text-base">
                        {{ mission.title }}
                    </div>
                </a>
            </div>
        {{/ instances }}
        </div>
        {{/ hasinstances }}
        {{^ hasinstances }}
            {{< block_gearup/zero_state_block }}
                {{$icon}}{{> block_gearup/icons/quest }}{{/icon}}
                {{$title}}{{#str}} noquests, block_gearup {{/str}}{{/title}}
                {{$subtitle}}{{#str}} youhavenotcompletedquestsyet, block_gearup {{/str}}{{/subtitle}}
            {{/ block_gearup/zero_state_block }}
        {{/ hasinstances }}
        {{/ isfinishedmode }}

    {{/hasany}}

</div>
{{#js}}
require(['block_gearup/modal_quest_accept'], function(Modal) {
    Modal.registerFromRoot('#gu-quests-{{uniqid}}');
});
require(['block_gearup/modal_quest_finish'], function(Modal) {
    Modal.registerFromRoot('#gu-quests-{{uniqid}}');
});
require(['block_gearup/modal_quest_inprogress'], function(Modal) {
    Modal.registerFromRoot('#gu-quests-{{uniqid}}');
});
{{/js}}