<div class="gu-flex gu-gap-4 gu-mb-4 gu-flex-col sm:gu-flex-row">
    <div class="gu-grow">
        <h3 class="gu-text-xl gu-leading-6 gu-font-medium empty:gu-hidden">{{$ title }}{{/ title }}</h3>
        <p class="gu-m-0 gu-mt-1 gu-max-w-3xl gu-text-gray-500">
            {{$ description }}{{ description }}{{/ description }}
        </p>
    </div>
    <div class="gu-flex-shrink-0 empty:gu-hidden">{{$ actions }}{{/ actions }}</div>
</div>
