<div class="gu-flex gu-w-full gu-items-center" aria-role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{$ ratiopc }}50{{/ ratiopc }}">
    <div class="gu-h-3 gu-flex-1 gu-bg-gray-300">
        <div class="gu-h-3 gu-bg-blue-600 gu-transition-all gu-duration-300 gu-ease-out" style="width: {{$ width }}{{$ ratiopc }}50{{/ ratiopc }}{{/ width }}%;"></div>
    </div>
    {{$ after  }}
        <div class="gu-min-w-[2.5rem] gu-pl-2 gu-text-right gu-whitespace-nowrap">{{$ ratiopc }}50{{/ ratiopc }}%</div>
    {{/ after  }}
</div>
