{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/quest_details

    TODO describe template quest_details

    Example context (json):
    {
    }
}}
<div id="mission-{{ uniqid }}"
    data-gu-refreshable
    data-id="{{ id }}"
    data-ws="block_gearup_get_mission"
    data-ws-args__missionid="{{ id }}"
    {{# haswiths }}data-ws-args__withs="{{ withs }}"{{/ haswiths }}
    data-template="block_gearup/quest_details">

    {{< block_gearup/page_intro }}
        {{$ title }}{{#str}} quest, block_gearup {{/str}}{{/ title }}
        {{$ description }}
            {{#str}} questexplaination, block_gearup {{/str}}
        {{/ description }}
    {{/ block_gearup/page_intro }}

    <div class="gu-border-t gu-border-gray-200 gu-py-5 sm:gu-p-0">
        <dl class="gu-divide-y gu-divide-gray-200">
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} missionidentity, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2 gu-flex">
                    <div class="gu-grow gu-flex gu-gap-2 gu-items-center">
                        <div class="gu-w-6 gu-h-6 gu-shrink-0">
                            {{> block_gearup/quests/narrator_thumbnail }}
                        </div>
                        {{ title }}
                    </div>
                    <div class="gu-ml-2 gu-shrink-0">
                        {{#iseditable}}
                        <button class="btn btn-secondary btn-sm"
                            data-gu-action="open-form"
                            data-form-class="block_gearup\form\quest_identity_dynamic_form"
                            data-form-args__id="{{ id }}"
                            data-modal-title="{{#str}}editquest, block_gearup{{/str}}">
                            <span class="gu-sr-only">{{#str}} edit {{/str}}</span>
                            {{#pix}} i/edit {{/pix}}
                        </button>
                        {{/iseditable}}
                    </div>
                </dd>
            </div>
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} assignmentbehaviour, block_gearup {{/str}}
                </dt>
                <dd class="gu-flex gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                    <div class="gu-grow">
                        {{#assignmentbehaviour}}
                        <div>{{ name }}</div>
                        <div class="gu-mt-1 gu-text-gray-500 gu-text-sm">{{ description }}</div>
                        {{/assignmentbehaviour}}
                    </div>
                    {{#iseditable}}
                    <div class="gu-ml-2 gu-shrink-0">
                        <button class="btn btn-secondary btn-sm"
                            data-gu-action="open-form"
                            data-form-class="block_gearup\form\quest_assignment_behaviour_dynamic_form"
                            data-form-args__id="{{ id }}"
                            data-modal-title="{{#str}}editquest, block_gearup{{/str}}">
                            <span class="gu-sr-only">{{#str}} edit {{/str}}</span>
                            {{#pix}} i/edit {{/pix}}
                        </button>
                    </div>
                    {{/iseditable}}
                </dd>
            </div>
            {{#shortcode}}
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} shortcode, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                    <div id="gu-shortcode-{{uniqid}}" class="gu-flex gu-gap-2">
                        <pre class="gu-m-0" data-content="snippet">{{ snippet }}</pre>
                        <a href="#" onclick="return false" class="gu-group gu-text-current gu-relative gu--mt-1">
                            <div data-element="tooltip" class="gu-inline-block gu-absolute gu--top-6 gu-text-2xs gu-bg-black gu-text-white gu-px-1.5 gu-py-0.5 gu-left-2.5 gu--translate-x-1/2 gu-rounded gu-pointer-events-none gu-opacity-0 gu-duration-300 gu-transition">{{# str }}copied, block_gearup{{/str}}</div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="gu-w-5 gu-h-5 gu-transition gu-text-gray-600 group-hover:gu-text-inherit">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                            </svg>
                            <span class="gu-sr-only">{{#str}}copy, core{{/str}}</span>
                        </a>
                    </div>
                    <div class="gu-mt-1 gu-text-sm gu-text-gray-500">
                        {{#str}} shortcodenotequest, block_gearup {{/str}} {{{ helpformatted }}}
                    </div>
                    {{#js}}
                    require(['block_gearup/role_button', 'block_gearup/utils'], function(RoleButton, Utils) {
                        var snippet = document.querySelector('#gu-shortcode-{{uniqid}} [data-content="snippet"]');
                        RoleButton.registerClick('#gu-shortcode-{{uniqid}} a', function(button) {
                            Utils.copyToClipboard(snippet.textContent);
                            var tooltip = button.querySelector('[data-element="tooltip"]');
                            var svg = button.querySelector('svg');
                            svg.classList.add('-gu-rotate-6', '!gu-text-blue-600');
                            tooltip.classList.add('gu--translate-y-0.5');
                            tooltip.classList.remove('gu-opacity-0');
                            setTimeout(function() {
                                tooltip.classList.add('gu-opacity-0');
                                tooltip.classList.remove('gu--translate-y-0.5');
                                svg.classList.remove('-gu-rotate-6', '!gu-text-blue-600');
                            }, 2000);
                        });
                    })
                    {{/js}}
                </dd>
            </div>
            {{/shortcode}}
            {{^assignmentbehaviour.iscompulsory}}
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} storylinedescription, block_gearup {{/str}}
                </dt>
                <dd class="gu-flex gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                    <div class="gu-grow gu-relative">
                        <svg class="gu-hidden sm:gu-block gu-absolute gu-top-0 gu-left-0 gu-transform gu--translate-x-3 gu--translate-y-1.5 gu-h-5 gu-w-5 gu-text-gray-300"
                            fill="currentColor" viewBox="0 0 32 32" aria-gu-hidden="true">
                            <path
                                d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                        </svg>
                        <div class="gu-overflow-hidden gu-max-w-lg">
                            <div class="gu-relative gu-line-clamp-2">
                                {{ description }}
                            </div>
                        </div>
                    </div>
                    {{#iseditable}}
                    <div class="gu-ml-2 gu-shrink-0">
                        <button class="btn btn-secondary btn-sm"
                            data-gu-action="open-quest-preview"
                            data-mode="accept">
                            <span class="gu-sr-only">{{#str}} preview, core {{/str}}</span>
                            <i class="fa fa-binoculars"></i>
                        </button>

                        <button class="btn btn-secondary btn-sm"
                            data-gu-action="open-form"
                            data-form-class="block_gearup\form\quest_description_dynamic_form"
                            data-form-args__id="{{ id }}"
                            data-modal-title="{{#str}}editquest, block_gearup{{/str}}">
                            <span class="gu-sr-only">{{#str}} edit {{/str}}</span>
                            {{#pix}} i/edit {{/pix}}
                        </button>
                    </div>
                    {{/iseditable}}
                </dd>
            </div>
            {{/assignmentbehaviour.iscompulsory}}
        </dl>
    </div>

    {{#edges.hasanyquests}}
    {{< block_gearup/section_intro }}
        {{$ title }}{{#str}} relationships, block_gearup {{/str}}{{/ title }}
        {{$ description }}
            {{#str}} questrelationshipsexplaination, block_gearup {{/str}}
        {{/ description }}
    {{/ block_gearup/section_intro }}

    <div class="gu-border-t gu-border-gray-200 gu-py-5 sm:gu-p-0">
        <dl class="gu-divide-y gu-divide-gray-200">
            {{#edges.hascomesfromquests}}
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} comesfrom, block_gearup {{/str}}
                </dt>
                <dd class="gu-flex gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                    <div class="gu-divide-y gu-divide-gray-200 gu-w-full">
                    {{#edges.comesfromquests}}
                        {{> block_gearup/quests/edge_quest }}
                    {{/edges.comesfromquests}}
                    </div>
                </dd>
            </div>
            {{/edges.hascomesfromquests}}
            {{#edges.hasleadstoquests}}
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} leadsto, block_gearup {{/str}}
                </dt>
                <dd class="gu-flex gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                    <div class="gu-divide-y gu-divide-gray-200 gu-w-full">
                    {{#edges.leadstoquests}}
                        {{> block_gearup/quests/edge_quest }}
                    {{/edges.leadstoquests}}
                    </div>
                </dd>
            </div>
            {{/edges.hasleadstoquests}}
        </dl>
        {{! Small spacer because otherwise it looks too close to the next section. }}
        <div class="gu-mb-2"></div>
    </div>
    {{/edges.hasanyquests}}

    {{< block_gearup/section_intro }}
        {{$ title }}{{#str}} objectives, block_gearup {{/str}}{{/ title }}
        {{$ description }}
            {{#str}} objectivesareexplainationquest, block_gearup {{/str}}
        {{/ description }}
    {{/ block_gearup/section_intro }}

    <div class="gu-border-t gu-border-gray-200 gu-py-5 sm:gu-p-0">
        <dl class="gu-divide-y gu-divide-gray-200">
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} storylineinstructions, block_gearup {{/str}}
                </dt>
                <dd class="gu-flex gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                    <div class="gu-grow gu-relative">
                        <svg class="gu-hidden sm:gu-block gu-absolute gu-top-0 gu-left-0 gu-transform gu--translate-x-3 gu--translate-y-1.5 gu-h-5 gu-w-5 gu-text-gray-300"
                            fill="currentColor" viewBox="0 0 32 32" aria-gu-hidden="true">
                            <path
                                d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                        </svg>
                        <div class="gu-overflow-hidden gu-max-w-lg">
                            <div class="gu-relative gu-line-clamp-2">
                                {{ instructions }}
                            </div>
                        </div>
                    </div>
                    {{#iseditable}}
                    <div class="gu-ml-2 gu-shrink-0">
                        <button class="btn btn-secondary btn-sm"
                            data-gu-action="open-quest-preview"
                            data-mode="view">
                            <span class="gu-sr-only">{{#str}} preview, core {{/str}}</span>
                            <i class="fa fa-binoculars"></i>
                        </button>

                        <button class="btn btn-secondary btn-sm"
                            data-gu-action="open-form"
                            data-form-class="block_gearup\form\quest_instructions_dynamic_form"
                            data-form-args__id="{{ id }}"
                            data-modal-title="{{#str}}editquest, block_gearup{{/str}}">
                            <span class="gu-sr-only">{{#str}} edit {{/str}}</span>
                            {{#pix}} i/edit {{/pix}}
                        </button>
                    </div>
                    {{/iseditable}}
                </dd>
            </div>

            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} listofobjectives, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                    {{> block_gearup/quest_objectives_list}}
                </dd>
            </div>
        </dl>
    </div>

    {{< block_gearup/section_intro }}
        {{$ title }}{{#str}} outcomes, block_gearup {{/str}}{{/ title }}
        {{$ description }}
            {{#str}} outcomesareexplainationquest, block_gearup {{/str}}
        {{/ description }}
    {{/ block_gearup/section_intro }}

    <div class="gu-border-t gu-border-gray-200 gu-py-5 sm:gu-p-0">
        <dl class="gu-divide-y gu-divide-gray-200">
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} storylinefeedback, block_gearup {{/str}}
                </dt>
                <dd class="gu-flex gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                    <div class="gu-grow gu-relative">
                        <svg class="gu-hidden sm:gu-block gu-absolute gu-top-0 gu-left-0 gu-transform gu--translate-x-3 gu--translate-y-1.5 gu-h-5 gu-w-5 gu-text-gray-300"
                            fill="currentColor" viewBox="0 0 32 32" aria-gu-hidden="true">
                            <path
                                d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                        </svg>
                        <div class="gu-overflow-hidden gu-max-w-lg">
                            <div class="gu-relative gu-line-clamp-2">
                                {{ feedback }}
                            </div>
                        </div>
                    </div>
                    {{#iseditable}}
                    <div class="gu-ml-2 gu-shrink-0">
                        <button class="btn btn-secondary btn-sm"
                            data-gu-action="open-quest-preview"
                            data-mode="finish">
                            <span class="gu-sr-only">{{#str}} preview, core {{/str}}</span>
                            <i class="fa fa-binoculars"></i>
                        </button>

                        <button class="btn btn-secondary btn-sm"
                            data-gu-action="open-form"
                            data-form-args__id="{{ id }}"
                            data-form-class="block_gearup\form\quest_feedback_dynamic_form"
                            data-modal-title="{{#str}}editquest, block_gearup{{/str}}">
                            <span class="gu-sr-only">{{#str}} edit {{/str}}</span>
                            {{#pix}} i/edit {{/pix}}
                        </button>
                    </div>
                    {{/iseditable}}
                </dd>
            </div>

            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} listofoutcomes, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                    {{> block_gearup/quest_outcomes_list }}
                </dd>
            </div>
        </dl>
    </div>
</div>
{{#js}}
require(['block_gearup/modal_quest'], function(Modal) {
    Modal.registerPreviewFromRoot('#mission-{{ uniqid }}')
})
{{/js}}
