{{< block_gearup/mission_assign }}
    {{$ precontent }}

        {{< block_gearup/page_intro }}
            {{$ description }}
                {{#str}} assignmentexplainationquest, block_gearup {{/str}}
            {{/ description }}
        {{/ block_gearup/page_intro }}

        <div class="gu-border-t gu-border-gray-200 gu-py-5 sm:gu-p-0">
            <dl class="gu-divide-y gu-divide-gray-200">
                <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                    <dt class="gu-font-medium gu-text-gray-500">
                        {{#str}} assignmentbehaviour, block_gearup {{/str}}
                    </dt>
                    <dd class="gu-flex gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                        <div class="gu-grow">
                            {{#assignmentbehaviour}}
                            <div>{{ name }}</div>
                            <div class="gu-mt-1 gu-text-gray-500 gu-text-sm">{{ description }}</div>
                            {{/assignmentbehaviour}}
                        </div>
                        {{#iseditable}}
                        <div class="gu-ml-2 gu-shrink-0">
                            <button class="btn btn-secondary btn-sm" data-action="resource-edit" data-form-args__id="{{ id }}"
                                data-modal-title="{{#str}}editquest, block_gearup{{/str}}"
                                data-form-class="block_gearup\form\quest_assignment_behaviour_dynamic_form">
                                <span class="gu-sr-only">{{#str}} edit {{/str}}</span>
                                {{#pix}} i/edit {{/pix}}
                            </button>
                        </div>
                        {{/iseditable}}
                    </dd>
                </div>
                {{#shortcode}}
                <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                    <dt class="gu-font-medium gu-text-gray-500">
                        {{#str}} shortcode, block_gearup {{/str}}
                    </dt>
                    <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2">
                        <pre class="gu-m-0">{{ snippet }}</pre>
                        <div class="gu-mt-1 gu-text-sm gu-text-gray-500">
                            {{#str}} shortcodenotequest, block_gearup {{/str}} {{{ helpformatted }}}
                        </div>
                    </dd>
                </div>
                {{/shortcode}}
            </dl>
        </div>
        {{#iseditable}}
        {{#js}}
        require(['block_gearup/modal_form', 'block_gearup/react-launcher'], function(ModalForm, ReactLauncher) {
            ModalForm.delegateOpen('#mission-{{ uniqid }}', '[data-action=resource-edit]');
        });
        {{/js}}
        {{/iseditable}}

    {{/ precontent }}
{{/ block_gearup/mission_assign }}
