<div class="gu-flex gu-mb-6 gu-gap-2 gu-items-center">
    <div class="gu-shrink-0 gu-grow-0">
        <a href="{{ profileurl }}" class="gu-inline-block aabtn" aria-describedby="gu-user-{{uniqid}}">
            <span class="gu-sr-only">{{#str}} profile, core {{/str}}</span>
            <img src="{{ picurl}}" alt="" role="decoration" class="gu-rounded-full gu-size-10 no-underline gu-inline-block" aria-hidden>
        </a>
    </div>
    <div class="gu-grow">
        <h3 class="gu-m-0 gu-text-xl gu-leading-none gu-font-medium" id="gu-user-{{uniqid}}">{{ name }}</h3>
        {{#hasidentityfields}}
            <div class="gu-mt-0.5 gu-text-xs gu-text-gray-500">
                {{#identityfields}}
                    <span class="gu-peer">{{ value }}</span><span class="last:gu-hidden peer-empty:gu-hidden">, </span>
                {{/identityfields}}
            </div>
        {{/hasidentityfields}}
    </div>
</div>