<div class="gu-flex gu-gap-4 gu-mb-4 gu-flex-col sm:gu-flex-row">
    <div class="gu-grow">
        <h4 class="gu-text-lg gu-leading-6 gu-font-medium empty:gu-hidden">{{$ title }}{{/ title }}</h4>
        <p class="gu-m-0 gu-mt-1 gu-max-w-2xl gu-text-gray-500">
            {{$ description }}{{/ description }}
        </p>
    </div>
    <div class="gu-flex-shrink-0">
        {{$ actions }}{{/ actions }}
    </div>
</div>
