{{# missioninst }}
<div class="block_gearup" id="shortcode-quest-discovery-{{mission.id}}-{{uniqid}}" data-id="{{ id }}" data-gu-type="missioninst">
    <div class="gu-flex gu-gap-2 gu-max-w-full gu-my-2">
        <a data-gu-action="open-quest" href="#" onclick="return false" class="gu-relative gu-h-24 gu-w-24 gu-shrink-0 gu-no-underline gu-text-current">
            <div class="gu-h-full gu-w-full">
                {{#mission}}{{> block_gearup/quests/narrator_thumbnail}}{{/mission}}
            </div>
            {{# needsattention }}
            <div class="gu-absolute gu-inset-x-0 gu--top-3 gu-flex gu-justify-center" data-attention="hide">
                <div class="gu-w-6 gu-h-6 gu-animate-bounce">
                    {{> block_gearup/icons/excl }}
                </div>
            </div>
            {{/ needsattention }}
        </a>
        <div class="gu-grow gu-overflow-hidden gu-max-w-sm">
            <h3 class="gu-font-medium gu-text-lg gu-leading-5 gu-m-0 gu-mb-2 gu-truncate" title="{{ mission.title }}">
                {{ mission.title }}
            </h3>
            <div class="gu-truncate gu-leading-5 gu-text-sm gu-italic gu-text-gray-700 gu-mb-2">
                {{ storylineexcerpt }}
            </div>
            <div>
                <button type="button" class="btn btn-default btn-secondary" data-gu-action="open-quest">
                    {{#str}} talktome, block_gearup{{/str}}
                </button>
            </div>
        </div>
    </div>
</div>
{{#js}}
require(['block_gearup/modal_quest'], function(Modal) {
    var rootSelector = '#shortcode-quest-discovery-{{mission.id}}-{{uniqid}}';
    Modal.registerFromRoot(rootSelector);
});
{{/js}}
{{/ missioninst }}
