{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/streaks_empty

    TODO describe template streaks_empty

    Example context (json):
    {
    }
}}
{{< block_gearup/zero_state_block}}
    {{$ icon }}
        {{> block_gearup/icons/streak }}
    {{/ icon }}
    {{$ title }}{{#str}} nostreaksyet, block_gearup {{/str}}{{/ title }}
    {{$ subtitle }}{{#str}} streaksexplanation, block_gearup {{/str}}{{/ subtitle }}
    {{$ postarea }}
        <div class="mt-4">
            <a href="{{ createurl }}" class="btn btn-secondary">
                <svg class="gu--ml-1 gu-mr-2 gu-h-5 gu-w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        clip-rule="evenodd" />
                </svg>{{#str}} createastreak, block_gearup {{/str}}</a>
        </div>
    {{/ postarea }}
{{/ block_gearup/zero_state_block}}

