{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/tracker

    Tracker.

    Example context (json):
    {
    }
}}
{{#hasany}}
<div class="gu-space-y-6"
    data-gu-refreshable="windowfocus"
    data-ws="block_gearup_get_tracker"
    data-template="block_gearup/tracker"
    data-ws-args__contextid="{{ context.id }}"
    data-ws-args__pageurl="__pageurl__"
    {{# hasparamshowsections }}data-ws-args__showsections="{{ paramshowsections }}"{{/ hasparamshowsections }}
>
    {{#sections}}
        {{#challengescontext}}{{> block_gearup/challenge_instances_overview }}{{/challengescontext}}
        {{#questscontext}}{{> block_gearup/quest_instances_overview }}{{/questscontext}}
        {{#achievementscontext}}{{> block_gearup/achievement_instances_overview }}{{/achievementscontext}}
        {{#streakscontext}}{{> block_gearup/streak_instances_overview }}{{/streakscontext}}
    {{/sections}}
</div>
{{/hasany}}
{{#js}}
require(['block_gearup/refreshable'], (Refreshable) => {
    Refreshable.registerObserver();
});
{{/js}}
