<nav class="" aria-label="{{#str}} progress, block_gearup {{/str}}">
    <ol role="list" class="gu-space-y-6 gu-list-none gu-m-0 gu-p-0">
        {{# steps }}
        {{> block_gearup/wizard_step }}
        {{/ steps }}
    </ol>
</nav>