<div class="gu-grow gu-flex gu-flex-col gu-items-center gu-justify-center gu-border-dashed gu-border-gray-200 gu-border-2 gu-rounded-lg gu-p-4 gu-py-8">
    <div class="gu-text-center">
        {{$ iconarea }}
        <div class="gu-w-20 gu-mx-auto">
            <div class="gu-w-full gu-px-4">
                {{$ icon }}{{> block_gearup/icons/quest }}{{/ icon }}
            </div>
        </div>
        {{/ iconarea }}
        <h3 class="gu-my-2">{{$ title }}{{/ title }}</h3>
        <p class="gu-m-0 gu-max-w-prose">{{$ subtitle }}{{/ subtitle }}</p>
    </div>
    {{$ postarea }}{{/ postarea }}
</div>