/**
 * All styles are built from the file css/styles.css.
 */

/** Base styles as preflight is disabled. */
.block_gearup *,
.block_gearup *::before,
.block_gearup *::after {
    @apply gu-box-border gu-border-0 gu-border-solid;
}

.block_gearup dd,
.block_gearup dl {
    @apply gu-m-0;
}

.block_gearup dd::before,
.block_gearup dd::after {
    content: none;
}

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
    /* Emulate BS4 classes to work with BS5. */
    .block_gearup .gu-badge-secondary {
        @apply gu-text-white gu-bg-gray-500;
    }
    .block_gearup .gu-badge-warning {
        @apply gu-text-gray-900 gu-bg-yellow-500;
        color: var(--bs-dark);
        background-color: var(--bs-warning);
    }
    .block_gearup .gu-badge-pill {
        @apply gu-rounded-full;
    }

    /* Expand form textarea to full width. */
    .block_gearup .fitem textarea {
        @apply gu-w-full;
    }

    /** Static form elements do not expand beyond their container's width. */
    .block_gearup .form-control-static {
        @apply gu-max-w-full;
    }

    /* Remove right margin when icon along in button. */
    .block_gearup .btn .icon:last-child {
        @apply gu-mr-0;
    }

    /* Remove the bottom border of the last fieldset in modals. */
    .block_gearup.modal form > fieldset:last-of-type {
        @apply gu-border-b-0;
    }

    /* Prevent Bootstrap rows from creating a horizontal scroll. */
    .block_gearup .gu-dynamic-form .row {
        @apply gu-max-w-full gu-ml-0;
    }

    /** Heading in the block. */
    .block_gearup .gu-heading-xs {
        @apply gu-uppercase gu-text-gray-600 gu-text-xs gu-tracking-normal gu-mb-4 gu-border-0 gu-border-b gu-border-solid gu-border-gray-200 gu-font-normal;
    }

    /** Hide accepted file types from some filemanager. **/
    .block_gearup .gu-accepted-types-hidden fieldset input[type='hidden'] + p,
    .block_gearup .gu-accepted-types-hidden fieldset .form-filetypes-descriptions {
        @apply gu-hidden;
    }

    .block_gearup .gu-toast {
        @apply gu-invisible;
        max-width: 54px;
    }

    .block_gearup .gu-toast-wrapper {
        @apply gu-relative gu-w-full gu-h-full gu-flex;
    }

    .block_gearup .gu-toast-img {
        flex: 0 0 54px;
        @apply gu-flex gu-items-center gu-justify-center;
    }

    .block_gearup .gu-toast-desc {
        flex: 1 1 100%;
    }

    .block_gearup .gu-toast-show {
        @apply gu-visible;
        animation: gu-toast-fadein 0.5s, gu-toast-expand 0.5s 0.5s;
        animation-fill-mode: forwards;
    }

    .block_gearup .gu-toast-hide {
        bottom: 30px;
        min-width: 300px;
        opacity: 1;
        animation: gu-toast-shrink 0.5s, gu-toast-fadeout 0.5s 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes gu-toast-fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @keyframes gu-toast-expand {
        from {
            min-width: 50px;
        }
        to {
            min-width: 300px;
        }
    }

    @keyframes gu-toast-shrink {
        from {
            min-width: 300px;
        }
        to {
            min-width: 50px;
        }
    }

    @keyframes gu-toast-fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }
}
