<div class="campus-slider">

<div class="slider-track">

{{#cards}}

<div class="slider-card"
     style="background-image:url('{{image}}')">

    <div class="slider-overlay">

        <a href="{{button_url}}"
           class="campus-btn {{#highlight}}highlight{{/highlight}}">

           {{button_text}}

        </a>

    </div>

</div>

{{/cards}}

</div>

<div class="slider-dots">

{{#cards}}
<span class="dot"></span>
{{/cards}}

</div>

</div>