{{!
    @template local_subscriptions/my_purchases/page

    Premium root for the customer purchase area.
}}
<div class="local-subscriptions-my-purchases my-purchases-premium" data-region="my-purchases-page">
    <div class="my-purchases-premium__inner">
        {{{content}}}
    </div>
</div>
