<div class="gu-flex gu-flex-col gu-items-center">
    <div class="gu-text-center gu-flex gu-items-center gu-flex-col gu-mx-auto gu-max-w-lg gu-w-full">
        <div class="max-w-full gu-w-12">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="gu-w-full gu-h-full">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
            </svg>
        </div>

        <h3 class="gu-mt-6 gu-text-2xl">{{#str}} pluginname, block_gearup {{/str}}</h3>
        <div class="gu-border-b gu-border-gray-200 gu-h-px gu-w-full gu-mb-6"></div>

        <p class="gu-text-lg">{{#str}} pluginnotactivated, block_gearup {{/str}}</p>

        <div class="gu-flex gu-justify-center"><a href="{{ url }}" class="btn btn-primary gu-text-lg">{{#str}} activatenow, block_gearup {{/str}}</a></div>
    </div>
</div>
