
{{#top_header}}
    <!-- Start Top Header Area -->
    <div class="top-header-area bg-color-0f6c76">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="header-left-content">
                        <p>{{{top_header_content}}}</p>
                    </div>
                </div>

                {{#top_header_right_content}}
                    <div class="col-lg-4">
                        <ul class="header-right-content">
                            {{{top_header_right_content}}}
                        </ul>
                    </div>
                {{/top_header_right_content}}
            </div>
        </div>
    </div>
    <!-- End Top Header Area -->
 {{/top_header}}

<!-- Start Navbar Area --> 
<div class="navbar-area {{output.edly_is_siteadmin}}">

    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                {{#logo_visibility}}
                    <div class="logo">
                        <a href="{{{ config.wwwroot }}}/">
                            {{#mobile_logo}}
                                <img src="{{mobile_logo}}" alt="{{sitename}}"  {{#mobile_logo_styles}} style="{{{mobile_logo_styles}}}" {{/mobile_logo_styles}}>
                            {{/mobile_logo}}

                            {{^ mobile_logo }}
                                <h2 {{#mobile_logo_styles}} style="{{{mobile_logo_styles}}}" {{/mobile_logo_styles}}>{{sitename}}</h2>
                            {{/mobile_logo}}
                        </a>
                    </div>
                {{/logo_visibility}}
            </div>
        </div>
    </div>

    <div class="main-navbar">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                {{#logo_visibility}}
                    <a class="navbar-brand" href="{{{ config.wwwroot }}}/">
                        {{#main_logo}}
                            <img src="{{main_logo}}" alt="{{sitename}}"  {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>
                        {{/main_logo}}

                        {{^ main_logo }}
                            <h2  {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>{{sitename}}</h2>
                        {{/main_logo}}
                    </a>
                {{/logo_visibility}}
                
                <div class="collapse navbar-collapse mean-menu flex-nowrap align-items-center" id="navbarSupportedContent">
                    {{#header_search_bar}}
                        {{{edly_globalsearch_navbar}}}
                    {{/header_search_bar}}

                    <ul id="menu-primary-menu" class="navbar-nav me-3">
                        <!-- custom_menu -->
                        {{ ! output.custom_menu }}
                    </ul>

                    <div class="nav-cta d-none d-lg-flex align-items-center ms-auto" id="campus-cta-anchor">
                        {{# show_subscribe_btn }}

                            <!-- Sélecteur de langue pour tout le monde si activé -->
                            {{# has_lang_menu }}
                            <div class="option-item langmenu me-2">
                                {{{ lang_menu }}}
                            </div>
                            {{/ has_lang_menu }}

                            <!-- S’abonner : visible pour NON connectés ET invités -->
                            <div class="option-item me-2">
                            <a href="{{{ signup_url }}}" class="default-btn">{{ subscribe_label }}</a>
                            </div>

                            <!-- Connexion : seulement pour NON connectés (pas pour l’invité) -->
                            {{# show_login_btn }}
                            <div class="option-item">
                                <a href="{{{ login_url }}}"
                                    class="default-btn second"
                                    aria-label="{{ login_label }}"
                                    title="{{ login_label }}"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    data-bs-title="{{ login_label }}">
                                    <i class="{{header_btn_icon}}"></i>
                                </a>
                            </div>
                            {{/ show_login_btn }}
                        {{/ show_subscribe_btn }}
                    </div>                    
                    {{#isloggedin}}
                        {{^isguest}}
                            {{> theme_edly/edly_navbar_user }}
                        {{/isguest}}
                    {{/isloggedin}}
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu d-lg-none">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            
            <div class="container">
                <div class="option-inner">
                    <div class="others-options d-flex d-lg-none align-items-center flex-wrap justify-content-center gap-3">
                    {{# has_lang_menu }}
                        <div class="option-item langmenu d-flex justify-content-center">
                        {{{ lang_menu }}}
                        </div>
                    {{/ has_lang_menu }}

                    {{# show_subscribe_btn }}
                        <div class="option-item">
                        <a href="{{{ signup_url }}}" class="default-btn">{{ subscribe_label }}</a>
                        </div>
                        {{# show_login_btn }}
                        <div class="option-item">
                            <a href="{{{ login_url }}}"
                                class="default-btn second"
                                aria-label="{{ login_label }}"
                                title="{{ login_label }}"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-title="{{ login_label }}">
                                <i class="{{header_btn_icon}}"></i>
                            </a>

                        </div>
                        {{/ show_login_btn }}
                    {{/ show_subscribe_btn }}


                    {{#header_search_bar}}
                        <div class="option-item">
                        {{{ edly_globalsearch_navbar }}}
                        </div>
                    {{/header_search_bar}}

                    {{#isloggedin}}
                        {{^isguest}}
                            {{> theme_edly/edly_navbar_user }}
                        {{/isguest}}
                    {{/isloggedin}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar Area -->

{{> theme_boost/primary-drawer-mobile }}