{{!
    @template local_subscriptions/storefront/product_placeholder

    Controlled placeholder used when no product artwork can be resolved.
}}
<div class="commerce-product-placeholder commerce-product-placeholder--{{placeholderratio}} commerce-product-placeholder--{{producttype}}" aria-hidden="true">
    <i class="{{placeholdericon}}"></i>
</div>
