{{#ismessage}}
    {{< block_gearup/quests/message_bubble }}
        {{$ content }}{{ content }}{{/ content }}
    {{/ block_gearup/quests/message_bubble }}
{{/ismessage}}
{{#isobjectives}}
    <div class="gu-bg-amber-50 gu-rounded gu-py-2 gu-px-4 gu-rounded-bl-none gu-relative gu-mb-4 gu-ml-4 lg:gu-mx-6">
        <div class="gu-uppercase gu-text-gray-500 gu-text-xs gu-mb-2">{{#str}} objectives, block_gearup {{/str}}</div>
        <ul class="gu-list-none gu-m-0 gu-p-0 gu-mt-2">
            {{#hasobjinsts}}
                {{#objinsts}}
                <li>{{> block_gearup/quests/objective_instance }}</li>
                {{/objinsts}}
            {{/hasobjinsts}}
            {{^hasobjinsts}}
                {{#mission.objectives}}
                <li>{{> block_gearup/quests/objective_not_instance }}</li>
                {{/mission.objectives}}
            {{/hasobjinsts}}
        </ul>
    </div>
{{/isobjectives}}
{{#isrewards}}
    {{#mission.hasrewards}}
    <div class="gu-bg-green-50 gu-rounded gu-py-2 gu-px-4 gu-rounded-bl-none gu-relative gu-mb-4 gu-ml-1 lg:gu-mx-6">
        <div class="gu-uppercase gu-text-gray-500 gu-text-xs gu-mb-2">{{#str}} rewards, block_gearup {{/str}}</div>
        <ul class="gu-m-0 gu-p-0 gu-list-disc gu-list-inside">
            {{#mission.rewards}}
            <li><span>{{ label }} </span></li>
            {{/mission.rewards}}
        </ul>
    </div>
    {{/mission.hasrewards}}
{{/isrewards}}