{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/quests/edge_quest

    TODO describe template edge_quest

    Example context (json):
    {
    }
}}
<div class="gu-flex gu-py-2 sm:gu-py-2 first:gu-pt-0 last:gu-pb-0">
    <a class="gu-flex gu-gap-2 gu-items-center gu-text-inherit gu-no-underline hover:gu-no-underline hover:gu-text-inherit" href="{{ manageurl }}">
        <div class="gu-h-6 gu-w-6 gu-shrink-0">
            {{> block_gearup/quests/narrator_thumbnail }}
        </div>
        <div class="gu-m-0 gu-leading-none">
            <div>{{ title }}</div>
        </div>
    </a>
</div>