<div class="gu-bg-blue-50 gu-text-base gu-rounded gu-py-1 gu-px-4 gu-rounded-bl-none gu-relative gu-mb-4 last-of-type:[&_p]:gu-mb-0 after:gu-w-0 after:gu-h-0 after:gu-border-l-8 after:gu-border-r-8 after:gu-border-transparent after:gu-border-t-8 after:gu-border-t-blue-50 after:gu-absolute after:gu--bottom-2 after:gu-left-0 after:gu-content-['']">{{$ content }}{{/ content }}</div>