{{! As at Moodle 4.4, large modals stay small under 990px screen width, so we use the lg breakpoint. }}
<div class="block_gearup" id="content-{{uniqid}}">
    <div class="gu-flex gu-gap-4">
        {{#mission.visual}}
        <div class="gu-sticky gu-top-0 gu-self-start">
            <div class="gu-h-28 gu-w-28 lg:gu-h-64 lg:gu-w-64">
                <img src="{{ url }}" alt="{{ alt }}" class="gu-h-full gu-w-full gu-max-h-full gu-rounded gu-pointer-events-none" />
            </div>
        </div>
        {{/mission.visual}}
        <div class="gu-grow" data-region="narrative">
            <div class="gu-h-full gu-flex gu-justify-end gu-items-start gu-flex-col">

                {{#dialogue.readmessages}}
                    {{> block_gearup/quests/dialogue_message }}
                {{/dialogue.readmessages}}

                {{^dialogueupdated}}
                    {{#dialogue.hasreadmessages}}
                        {{#dialogue.hasunreadmessages}}
                            <div class="gu-w-full gu-flex gu-items-center gu-gap-2 gu-mb-4">
                                <div class="gu-grow gu-h-px gu-bg-red-500"></div>
                                <div class="gu-shrink-0 gu-whitespace-nowrap gu-text-2xs gu-uppercase gu-text-red-500">
                                    {{#str}} newmessages, block_gearup {{/ str }}
                                </div>
                                <div class="gu-grow gu-h-px gu-bg-red-500"></div>
                            </div>
                        {{/dialogue.hasunreadmessages}}
                    {{/dialogue.hasreadmessages}}
                {{/dialogueupdated}}

                {{#dialogue.unreadmessages}}
                    <div class="gu-hidden" data-reveal="next" data-content-type="{{ contenttype }}">
                        {{> block_gearup/quests/dialogue_message }}
                    </div>
                {{/dialogue.unreadmessages}}

                <div class="gu-hidden" data-content="typing">
                    {{< block_gearup/quests/message_bubble }}
                        {{$ content }}
                        <div class="gu-relative gu-inline-flex gu-gap-1">
                            <div class="gu-rounded-full gu-bg-gray-600 gu-size-2 gu-relative gu-animate-typing"></div>
                            <div class="gu-rounded-full gu-bg-gray-600 gu-size-2 gu-relative gu-animate-typing gu-animation-delay-200"></div>
                            <div class="gu-rounded-full gu-bg-gray-600 gu-size-2 gu-relative gu-animate-typing gu-animation-delay-400"></div>
                        </div>
                        {{/ content }}
                    {{/ block_gearup/quests/message_bubble }}
                </div>
            </div>
        </div>
    </div>
</div>
{{#js}}
require(['block_gearup/quest_dialogue_revealer'], (QuestDialogueRevealer) => {
    const isContentReloaded = {{#dialogueupdated}}true{{/dialogueupdated}}{{^dialogueupdated}}false{{/dialogueupdated}};
    const root = document.getElementById('content-{{ uniqid }}');
    const qdr = new QuestDialogueRevealer(root);
    if (isContentReloaded) {
        qdr.beginWithoutTyping();
    } else {
        qdr.beginFromTyping();
    }
});
{{/js}}