{{< core/modal }}
    {{$title}}
    <div class="block_gearup">
        <div class="gu-flex gu-items-center">
            <div class="gu-mr-2 gu-h-8 gu-w-8">{{> block_gearup/icons/excl }}</div>
            <div>{{#str}} youvegotaquest, block_gearup {{/str}}</div>
        </div>
    </div>
    {{/title}}
    {{$footer}}
    <button type="button" class="btn btn-primary" data-action="confirm" disabled>{{#str}} accept, block_gearup {{/str}}</button>
    <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} maybelater, block_gearup {{/str}}</button>
    {{/footer}}
{{/ core/modal }}
