{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/streak/instance

    TODO describe template instance

    Example context (json):
    {
    }
}}
<div id="mission-inst-{{ uniqid }}"
        data-gu-refreshable
        data-ws="block_gearup_get_mission_instance_page"
        data-ws-args__missioninstid="{{ missioninst.id }}"
        data-ws-args__returnto="{{ returnto }}"
        data-ws-args__gupagectxid="{{ gupagectxid }}"
        data-template="block_gearup/streak/instance">

    {{> block_gearup/mission_instance_header }}

    {{#missioninst}}
    <div class="gu-border-t gu-border-gray-200 gu-py-5 sm:gu-p-0">
        <dl class="gu-divide-y gu-divide-gray-200">

            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} started, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2 gu-flex">
                    <div class="gu-grow">
                        {{{ timestartedhtml }}}
                    </div>
                </dd>
            </div>

            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} streak, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2 gu-flex">
                    <div class="gu-grow">
                        {{# counter }}{{ . }}{{/ counter }}
                        {{^ counter }}-{{/ counter }}
                    </div>
                    {{^ hascompleted }}
                    <div class="gu-ml-2 gu-shrink-0">
                        <button class="btn btn-secondary btn-sm gu-inline-flex gu-items-center"
                            type="button"
                            data-gu-action="open-form"
                            data-form-class="block_gearup\form\increment_mission_instance_counter_dynamic_form"
                            data-form-args__missionid="{{ mission.id }}"
                            data-form-args__missioninstid="{{ id }}"
                            data-modal-title="{{# str }} increment, block_gearup {{/ str }}"
                            >
                            <span class="gu-sr-only">{{#str}} increment, block_gearup {{/str}}</span>
                            {{#pix}} t/add {{/pix}}
                        </button>
                    </div>
                    {{/ hascompleted }}
                </dd>
            </div>

            {{^ hascompleted }}
            {{# hasdeadline }}
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} deadline, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2 gu-flex">
                    <div class="gu-grow">
                        {{{ deadlinehtml }}} (<span data-countdown="{{ deadline}}">{{{ deadlinelefthtml }}}</span>)
                    </div>
                </dd>
            </div>
            {{#js}}
            require(['block_gearup/countdown'], function(Countdown) {
                Countdown.initFromRoot('#mission-inst-{{ uniqid }}');
            });
            {{/js}}
            {{/ hasdeadline }}
            {{/ hascompleted }}

            {{^ isended }}
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} completed, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2 gu-flex">
                    <div class="gu-grow gu-mr-4">
                        {{#hascompleted}}
                            {{^isincomplete}}
                                {{{ timecompletedhtml }}}
                            {{/isincomplete}}
                            {{#isincomplete}}
                                {{ completionratiopc }}%
                            {{/isincomplete}}
                        {{/hascompleted}}

                        {{^hascompleted}}
                        <div class="gu-max-w-xs">
                            {{< block_gearup/progress_bar }} {{$ ratiopc }}{{ completionratiopc }}{{/ ratiopc }} {{/ block_gearup/progress_bar }}
                        </div>
                        {{/hascompleted}}
                    </div>

                    {{^hascompleted}}
                    <div>
                        <button
                            class="btn btn-secondary btn-sm gu-text-sm"
                            type="button"
                            data-gu-action="open-form"
                            data-form-class="block_gearup\form\complete_mission_instance_dynamic_form"
                            data-form-args__missionid="{{ mission.id }}"
                            data-form-args__missioninstid="{{ id }}"
                            data-modal-buttons__save__label="{{# str }} fail, block_gearup {{/ str }}"
                            data-modal-large="false"
                            data-modal-title="{{# str }} failmission, block_gearup {{/ str }}"
                            >{{#str}} fail, block_gearup {{/str}}</button>
                    </div>
                    {{/hascompleted}}

                    {{#iscompleted}}{{# mission.timing.isrepeating }}
                    <div>
                        <button
                            class="btn btn-secondary btn-sm gu-text-sm"
                            type="button"
                            data-gu-action="open-form"
                            data-form-class="block_gearup\form\finish_mission_instance_dynamic_form"
                            data-form-args__missionid="{{ mission.id }}"
                            data-form-args__missioninstid="{{ id }}"
                            data-modal-buttons__save__label="{{# str }} finalise, block_gearup {{/ str }}"
                            data-modal-large="false"
                            data-modal-title="{{# str }} finalisemission, block_gearup {{/ str }}"
                            >{{#str}} finalise, block_gearup {{/str}}</button>
                    </div>
                    {{/ mission.timing.isrepeating }}{{/iscompleted}}
                </dd>
            </div>
            {{/ isended }}

            {{# isended }}
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} lost, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2 gu-flex">
                    <div class="gu-grow gu-mr-4">
                        {{{ timelosthtml }}}
                    </div>
                </dd>
            </div>
            {{/ isended }}

            {{# hasstarted }}
            <div class="gu-py-4 sm:gu-py-5 sm:gu-grid sm:gu-grid-cols-3 sm:gu-gap-4">
                <dt class="gu-font-medium gu-text-gray-500">
                    {{#str}} objectives, block_gearup {{/str}}
                </dt>
                <dd class="gu-m-0 gu-mt-1 sm:gu-mt-0 sm:gu-col-span-2 gu-flex">

                    <div class="gu-grow gu-divide-y gu-divide-gray-200" id="objectives-list-{{ uniqid }}">
                        {{#objinsts}}
                        <div class="gu-flex gu-py-4 sm:gu-py-4 first:gu-pt-0 last:gu-pb-0">
                            <div class="gu-grow">
                                <div class="">
                                    {{#iscompleted}}☑︎{{/iscompleted}}
                                    {{^iscompleted}}☐{{/iscompleted}}
                                    {{^ objective.label }}
                                    {{ objective.type }}
                                    {{/ objective.label }}
                                    {{# objective.iscountable }}
                                    ({{ counter }}/{{ objective.countneeded }})
                                    {{/ objective.iscountable }}
                                </div>

                                {{^ objective.label }}
                                <div class="gu-text-xs gu-text-gray-700">
                                    {{ objective.type }}
                                </div>
                                {{/ objective.label }}
                            </div>

                            {{^ hascompleted }}
                            {{# hasstarted }}
                            {{^ iscompleted }}
                            <div class="gu-ml-2 gu-shrink-0">
                                <button class="btn btn-secondary btn-sm gu-inline-flex gu-items-center"
                                    data-gu-action="open-form"
                                    data-form-class="block_gearup\form\objective_instance_increment_counter_dynamic_form"
                                    data-form-args__missioninstid="{{ id }}"
                                    data-form-args__objectiveid="{{ objective.id }}"
                                    {{# objective.iscountable }}
                                    data-modal-title="{{#str}} increment, block_gearup {{/str}}"
                                    {{/ objective.iscountable }}
                                    {{^ objective.iscountable }}
                                    data-modal-large="false"
                                    data-modal-title="{{#str}} confirm, core {{/str}}"
                                    data-modal-buttons__save__label="{{#str}} confirm, core {{/str}}"
                                    {{/ objective.iscountable }}
                                    type="button">
                                    <span class="gu-sr-only">{{#str}} increment, block_gearup {{/str}}</span>
                                    {{#pix}} t/add {{/pix}}
                                </button>
                            </div>
                            {{/ iscompleted }}
                            {{/ hasstarted }}

                            {{# counter }}
                            <div class="gu-ml-2 gu-shrink-0">
                                <button
                                    class="btn btn-secondary btn-sm gu-inline-flex gu-items-center"
                                    data-gu-action="open-form"
                                    data-form-class="block_gearup\form\objective_instance_reset_dynamic_form"
                                    data-form-args__missioninstid="{{ id }}"
                                    data-form-args__objectiveid="{{ objective.id }}"
                                    data-modal-buttons__save__label="{{# str }} reset, core {{/ str }}"
                                    data-modal-large="false"
                                    data-modal-title="{{# str }} resetobjective, block_gearup {{/ str }}"
                                    type="button">
                                    <span class="gu-sr-only">{{#str}} reset, core {{/str}}</span>
                                    {{#pix}} t/reset {{/pix}}
                                </button>
                            </div>
                            {{/ counter }}
                            {{/ hascompleted }}

                        </div>
                        {{/objinsts}}
                    </div>

                </dd>
            </div>
            {{/ hasstarted }}
        </dl>
    </div>
    {{/missioninst}}
</div>
