<div class="block_gearup" id="gu-challenge-{{uniqid}}">
    <div class="gu-flex gu-gap-4">
        <div class="gu-grow gu-flex gu-flex-col">
            <div class="gu-flex gu-gap-2">
                <div class="gu-grow gu-mb-4">
                    <h3 class="gu-text-lg gu-font-bold gu-mb-1">{{ mission.title }}</h3>
                    {{#hasdeadline}}
                    <div class="gu-text-gray-500 gu-text-xs">{{#str}} endsat, block_gearup {{/str}} {{{ deadlinehtml }}}</div>
                    {{/hasdeadline}}
                    {{#mission.timing.isrepeating}}
                    <div class="gu-text-gray-500 gu-text-xs">
                        {{#str}}repeats, block_gearup{{/str}} <span class="gu-lowercase">{{#mission.timing.repeats.daily}}{{#str}}daily, block_gearup{{/str}}{{/mission.timing.repeats.daily}}
                        {{#mission.timing.repeats.weekly}}{{#str}}weekly, block_gearup{{/str}}{{/mission.timing.repeats.weekly}}
                        {{#mission.timing.repeats.fortnightly}}{{#str}}fortnightly, block_gearup{{/str}}{{/mission.timing.repeats.fortnightly}}
                        {{#mission.timing.repeats.monthly}}{{#str}}monthly, block_gearup{{/str}}{{/mission.timing.repeats.monthly}}</span>
                    </div>
                    {{/mission.timing.isrepeating}}
                </div>
                <div class="gu-shrink-0 gu-flex gu-flex-col gu-gap-2 gu-items-end">
                    {{#hascompleted}}
                    <div class="gu-whitespace-nowrap gu-inline-block gu-px-2 gu-py-1 gu-bg-green-700 gu-text-white gu-rounded">
                        {{#str}} completed, block_gearup {{/str}}
                    </div>
                    {{/hascompleted}}
                    {{^hascompleted}}
                        {{#hasdeadline}}
                        <div class="gu-whitespace-nowrap gu-inline-block gu-px-2 gu-py-1 gu-bg-red-700 gu-text-white gu-rounded" data-countdown="{{ deadline}}">
                            {{{deadlinelefthtml}}}
                        </div>
                        {{/hasdeadline}}
                    {{/hascompleted}}
                    {{#mission.timing.isrepeating}}
                    <div class="gu-whitespace-nowrap gu-inline-block gu-px-2 gu-py-1 gu-bg-blue-200 gu-text-black gu-rounded">
                        {{#mission.timing.repeats.daily}}{{#str}}daily, block_gearup{{/str}}{{/mission.timing.repeats.daily}}
                        {{#mission.timing.repeats.weekly}}{{#str}}weekly, block_gearup{{/str}}{{/mission.timing.repeats.weekly}}
                        {{#mission.timing.repeats.fortnightly}}{{#str}}fortnightly, block_gearup{{/str}}{{/mission.timing.repeats.fortnightly}}
                        {{#mission.timing.repeats.monthly}}{{#str}}monthly, block_gearup{{/str}}{{/mission.timing.repeats.monthly}}
                    </div>
                    {{/mission.timing.isrepeating}}
                </div>
            </div>

            <div>
                <div class="gu-uppercase gu-text-gray-500 gu-text-xs gu-mb-2">{{#str }} objectives, block_gearup {{/str}}</div>
                <ul class="gu-list-none gu-m-0 gu-p-0 gu-space-y-1">
                    {{#objinsts}}
                    <li>{{> block_gearup/challenges/objective_instance }}</li>
                    {{/objinsts}}
                </ul>
            </div>

            {{#mission.hasrewards}}
            <div class="gu-mt-4">
                <div class="gu-uppercase gu-text-gray-500 gu-text-xs gu-mb-2">{{#str}} rewards, block_gearup {{/str}}</div>
                <ul class="gu-m-0 gu-p-0 gu-list-disc gu-list-outside gu-ml-4">
                    {{#mission.rewards}}
                    <li><span>{{ label }} </span></li>
                    {{/mission.rewards}}
                </ul>
            </div>
            {{/mission.hasrewards}}
        </div>
    </div>
</div>
{{#js}}
require(['block_gearup/countdown'], function(Countdown) {
    Countdown.initFromRoot('#gu-challenge-{{uniqid}}');
});
{{/js}}