<div class="block_gearup">
    <div class="gu-flex gu-gap-4">
        <div class="gu-sticky gu-top-0 gu-self-start">
            <div class="gu-h-24 gu-w-24 sm:gu-h-32 sm:gu-w-32">
                {{#hascompleted}}
                    {{#mission}}
                        {{> block_gearup/achievements/badge_thumbnail }}
                    {{/mission}}
                {{/hascompleted}}
                {{^hascompleted}}
                    {{> block_gearup/achievements/badge_thumbnail_locked }}
                {{/hascompleted}}
            </div>
        </div>
        <div class="gu-grow gu-flex gu-flex-col">
            <h3 class="gu-text-lg gu-font-bold gu-mb-1">{{ mission.title }}</h3>

            {{#hascompleted}}
                <div class="gu-text-gray-500 gu-text-xs gu-mb-4">{{{ timecompletedhtml }}}</div>
            {{/hascompleted}}

            <div class="gu-pb-4 gu-grow gu-text-base last-of-type:[&_p]:gu-mb-0">
                {{{ instructionshtml }}}

                <div class="gu-space-y-2">
                {{#mission.objectives}}
                    {{#supportingurl}}
                        <div class="first:gu-mt-4 gu-text-sm gu-leading-none">
                            <a href="{{ . }}" target="_blank" rel="noopener noreferer" class="">
                                {{#str}} opensupportinglink, block_gearup {{/str}}{{!
                                }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="gu-size-4 gu-inline-block ml-1" aria-hidden>
                                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z" />
                                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z" />
                                </svg>
                            </a>
                        </div>
                    {{/supportingurl}}
                {{/mission.objectives}}
                </div>
            </div>

            {{^hascompleted}}
            <div>
                {{< block_gearup/progress_bar_animated }}
                    {{$ ratiopc }}{{ completionratiopc }}{{/ ratiopc }}
                {{/ block_gearup/progress_bar_animated }}
            </div>
            {{/hascompleted}}
        </div>
    </div>
</div>
