{{< core/modal }}
{{$footer}}
    <div class="block_gearup" style="width: 100%">
        <div class="gu-flex">
            <div class="gu-grow">
                <button type="button" class="btn btn-secondary gu-transition-opacity gu-opacity-0 gu-duration-1000 gu-invisible" data-action="confetti">{{#str}} moreconfettis, block_gearup {{/str}} </button>
            </div>
            <div class="gu-shrink-0">
                <button type="button" class="btn btn-primary" data-action="cancel">{{#str}} awesomeexcl, block_gearup {{/str}}</button>
            </div>
        </div>
    </div>
{{/footer}}
{{/ core/modal }}
