{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/achievements/toast

    Achievement toast.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {}
}}
<div class="gu-toast gu-mx-auto gu-text-white gu-bg-blue-800 gu-fixed gu-inset-x-0 gu-z-10 gu-h-[54px] gu-select-none gu-drop-shadow gu-cursor-pointer" data-element="trigger" aria-live="polite" tabindex="0">
    <div class="gu-toast-wrapper">
        <div class="gu-toast-img gu-bg-blue-700">
            <div class="gu-h-12 gu-w-12">
                {{#mission}}
                    {{> block_gearup/achievements/badge_thumbnail }}
                {{/mission}}
            </div>
        </div>
        <div class="gu-toast-desc gu-overflow-hidden gu-pl-2 gu-pr-1">
            <div class="gu-mt-2 gu-truncate gu-uppercase gu-text-2xs">
                {{#str}} achievementunlocked, block_gearup {{/str}}
            </div>
            <div class="gu-truncate gu-text-lg gu-leading-slug">{{ mission.title }}</div>
        </div>
    </div>
</div>