{{!
    @template local_subscriptions/my_digital_products/components/empty_state
}}
<div class="digital-library-empty">
    <span class="digital-library-empty__icon" aria-hidden="true">&#128196;</span>
    <h3>{{emptytitle}}</h3>
    <p>{{emptydescription}}</p>
    <a class="btn btn-primary" href="{{catalogurl}}">{{cataloglabel}}</a>
</div>
