/**
 * All styles are built from the file css/styles.css.
 */

/** Base styles as preflight is disabled. */
.block_gearup *,
.block_gearup *::before,
.block_gearup *::after {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
}

.block_gearup dd,
.block_gearup dl {
    margin: 0px;
}

.block_gearup dd::before,
.block_gearup dd::after {
    content: none;
}

*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  ;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  ;
}
.block_gearup .gu-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.block_gearup .gu-pointer-events-none {
    pointer-events: none;
}
.block_gearup .gu-invisible {
    visibility: hidden;
}
.block_gearup .gu-fixed {
    position: fixed;
}
.block_gearup .gu-absolute {
    position: absolute;
}
.block_gearup .gu-relative {
    position: relative;
}
.block_gearup .gu-sticky {
    position: sticky;
}
.block_gearup .gu--inset-1 {
    inset: -0.25rem;
}
.block_gearup .gu-inset-0 {
    inset: 0px;
}
.block_gearup .gu-inset-x-0 {
    left: 0px;
    right: 0px;
}
.block_gearup .gu-inset-y-0 {
    top: 0px;
    bottom: 0px;
}
.block_gearup .gu--left-1 {
    left: -0.25rem;
}
.block_gearup .gu--left-\[100000px\] {
    left: -100000px;
}
.block_gearup .gu--top-1 {
    top: -0.25rem;
}
.block_gearup .gu--top-3 {
    top: -0.75rem;
}
.block_gearup .gu--top-6 {
    top: -1.5rem;
}
.block_gearup .gu-bottom-0 {
    bottom: 0px;
}
.block_gearup .gu-left-0 {
    left: 0px;
}
.block_gearup .gu-left-2\.5 {
    left: 0.625rem;
}
.block_gearup .gu-right-3 {
    right: 0.75rem;
}
.block_gearup .gu-right-6 {
    right: 1.5rem;
}
.block_gearup .gu-top-0 {
    top: 0px;
}
.block_gearup .gu-top-2 {
    top: 0.5rem;
}
.block_gearup .gu-top-3 {
    top: 0.75rem;
}
.block_gearup .gu-z-10 {
    z-index: 10;
}
.block_gearup .gu-order-1 {
    order: 1;
}
.block_gearup .gu-order-2 {
    order: 2;
}
.block_gearup .gu-col-span-1 {
    grid-column: span 1 / span 1;
}
.block_gearup .gu-col-span-2 {
    grid-column: span 2 / span 2;
}
.block_gearup .gu-col-span-3 {
    grid-column: span 3 / span 3;
}
.block_gearup .gu-col-span-full {
    grid-column: 1 / -1;
}
.block_gearup .gu--m-1 {
    margin: -0.25rem;
}
.block_gearup .gu-m-0 {
    margin: 0px;
}
.block_gearup .gu--mx-1 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}
.block_gearup .gu-mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.block_gearup .gu-my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.block_gearup .gu-my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.block_gearup .gu-my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.block_gearup .-gu-ml-1 {
    margin-left: -0.25rem;
}
.block_gearup .gu--ml-1 {
    margin-left: -0.25rem;
}
.block_gearup .gu--mt-1 {
    margin-top: -0.25rem;
}
.block_gearup .gu-mb-0 {
    margin-bottom: 0px;
}
.block_gearup .gu-mb-1 {
    margin-bottom: 0.25rem;
}
.block_gearup .gu-mb-2 {
    margin-bottom: 0.5rem;
}
.block_gearup .gu-mb-4 {
    margin-bottom: 1rem;
}
.block_gearup .gu-mb-6 {
    margin-bottom: 1.5rem;
}
.block_gearup .gu-mb-8 {
    margin-bottom: 2rem;
}
.block_gearup .gu-ml-1 {
    margin-left: 0.25rem;
}
.block_gearup .gu-ml-2 {
    margin-left: 0.5rem;
}
.block_gearup .gu-ml-3 {
    margin-left: 0.75rem;
}
.block_gearup .gu-ml-4 {
    margin-left: 1rem;
}
.block_gearup .gu-ml-auto {
    margin-left: auto;
}
.block_gearup .gu-mr-1 {
    margin-right: 0.25rem;
}
.block_gearup .gu-mr-2 {
    margin-right: 0.5rem;
}
.block_gearup .gu-mr-4 {
    margin-right: 1rem;
}
.block_gearup .gu-mt-0\.5 {
    margin-top: 0.125rem;
}
.block_gearup .gu-mt-1 {
    margin-top: 0.25rem;
}
.block_gearup .gu-mt-2 {
    margin-top: 0.5rem;
}
.block_gearup .gu-mt-4 {
    margin-top: 1rem;
}
.block_gearup .gu-mt-6 {
    margin-top: 1.5rem;
}
.block_gearup .gu-line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.block_gearup .gu-block {
    display: block;
}
.block_gearup .gu-inline-block {
    display: inline-block;
}
.block_gearup .gu-flex {
    display: flex;
}
.block_gearup .gu-inline-flex {
    display: inline-flex;
}
.block_gearup .gu-grid {
    display: grid;
}
.block_gearup .gu-hidden {
    display: none;
}
.block_gearup .gu-aspect-square {
    aspect-ratio: 1 / 1;
}
.block_gearup .gu-size-10 {
    width: 2.5rem;
    height: 2.5rem;
}
.block_gearup .gu-size-11 {
    width: 2.75rem;
    height: 2.75rem;
}
.block_gearup .gu-size-12 {
    width: 3rem;
    height: 3rem;
}
.block_gearup .gu-size-16 {
    width: 4rem;
    height: 4rem;
}
.block_gearup .gu-size-2 {
    width: 0.5rem;
    height: 0.5rem;
}
.block_gearup .gu-size-4 {
    width: 1rem;
    height: 1rem;
}
.block_gearup .gu-size-5 {
    width: 1.25rem;
    height: 1.25rem;
}
.block_gearup .gu-size-6 {
    width: 1.5rem;
    height: 1.5rem;
}
.block_gearup .gu-size-8 {
    width: 2rem;
    height: 2rem;
}
.block_gearup .gu-h-10 {
    height: 2.5rem;
}
.block_gearup .gu-h-11 {
    height: 2.75rem;
}
.block_gearup .gu-h-12 {
    height: 3rem;
}
.block_gearup .gu-h-16 {
    height: 4rem;
}
.block_gearup .gu-h-2 {
    height: 0.5rem;
}
.block_gearup .gu-h-20 {
    height: 5rem;
}
.block_gearup .gu-h-24 {
    height: 6rem;
}
.block_gearup .gu-h-28 {
    height: 7rem;
}
.block_gearup .gu-h-3 {
    height: 0.75rem;
}
.block_gearup .gu-h-4 {
    height: 1rem;
}
.block_gearup .gu-h-5 {
    height: 1.25rem;
}
.block_gearup .gu-h-6 {
    height: 1.5rem;
}
.block_gearup .gu-h-64 {
    height: 16rem;
}
.block_gearup .gu-h-7 {
    height: 1.75rem;
}
.block_gearup .gu-h-8 {
    height: 2rem;
}
.block_gearup .gu-h-\[500px\] {
    height: 500px;
}
.block_gearup .gu-h-\[54px\] {
    height: 54px;
}
.block_gearup .gu-h-auto {
    height: auto;
}
.block_gearup .gu-h-full {
    height: 100%;
}
.block_gearup .gu-h-px {
    height: 1px;
}
.block_gearup .gu-max-h-full {
    max-height: 100%;
}
.block_gearup .gu-min-h-full {
    min-height: 100%;
}
.block_gearup .gu-w-10 {
    width: 2.5rem;
}
.block_gearup .gu-w-11 {
    width: 2.75rem;
}
.block_gearup .gu-w-12 {
    width: 3rem;
}
.block_gearup .gu-w-16 {
    width: 4rem;
}
.block_gearup .gu-w-2 {
    width: 0.5rem;
}
.block_gearup .gu-w-20 {
    width: 5rem;
}
.block_gearup .gu-w-24 {
    width: 6rem;
}
.block_gearup .gu-w-28 {
    width: 7rem;
}
.block_gearup .gu-w-4 {
    width: 1rem;
}
.block_gearup .gu-w-5 {
    width: 1.25rem;
}
.block_gearup .gu-w-6 {
    width: 1.5rem;
}
.block_gearup .gu-w-7 {
    width: 1.75rem;
}
.block_gearup .gu-w-8 {
    width: 2rem;
}
.block_gearup .gu-w-auto {
    width: auto;
}
.block_gearup .gu-w-full {
    width: 100%;
}
.block_gearup .gu-min-w-1 {
    min-width: 0.25rem;
}
.block_gearup .gu-min-w-48 {
    min-width: 12rem;
}
.block_gearup .gu-min-w-\[1rem\] {
    min-width: 1rem;
}
.block_gearup .gu-min-w-\[2\.5rem\] {
    min-width: 2.5rem;
}
.block_gearup .gu-min-w-\[4rem\] {
    min-width: 4rem;
}
.block_gearup .gu-max-w-2xl {
    max-width: 42rem;
}
.block_gearup .gu-max-w-3xl {
    max-width: 48rem;
}
.block_gearup .gu-max-w-48 {
    max-width: 12rem;
}
.block_gearup .gu-max-w-\[10ch\] {
    max-width: 10ch;
}
.block_gearup .gu-max-w-full {
    max-width: 100%;
}
.block_gearup .gu-max-w-lg {
    max-width: 32rem;
}
.block_gearup .gu-max-w-md {
    max-width: 28rem;
}
.block_gearup .gu-max-w-prose {
    max-width: 65ch;
}
.block_gearup .gu-max-w-sm {
    max-width: 24rem;
}
.block_gearup .gu-max-w-xl {
    max-width: 36rem;
}
.block_gearup .gu-max-w-xs {
    max-width: 20rem;
}
.block_gearup .gu-flex-1 {
    flex: 1 1 0%;
}
.block_gearup .gu-flex-shrink-0 {
    flex-shrink: 0;
}
.block_gearup .gu-shrink-0 {
    flex-shrink: 0;
}
.block_gearup .gu-grow {
    flex-grow: 1;
}
.block_gearup .gu-grow-0 {
    flex-grow: 0;
}
.block_gearup .gu--translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.block_gearup .gu--translate-x-3 {
    --tw-translate-x: -0.75rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.block_gearup .gu--translate-x-full {
    --tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.block_gearup .gu--translate-y-0\.5 {
    --tw-translate-y: -0.125rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.block_gearup .gu--translate-y-1\.5 {
    --tw-translate-y: -0.375rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.block_gearup .gu-translate-x-full {
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.block_gearup .-gu-rotate-6 {
    --tw-rotate: -6deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.block_gearup .gu-transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.block_gearup .gu-transform-gpu {
    transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@keyframes gu-bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.block_gearup .gu-animate-bounce {
    animation: gu-bounce 1s infinite;
}
@keyframes gu-ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}
.block_gearup .gu-animate-ping {
    animation: gu-ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes gu-pulse {
    50% {
        opacity: .5;
    }
}
.block_gearup .gu-animate-pulse {
    animation: gu-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes gu-typing {
    0% {
        transform: translateY(0);
        opacity: 0.5;
    }
    8% {
        transform: translateY(-4px);
        opacity: 1;
    }
    16% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
        opacity: 0.5;
    }
}
.block_gearup .gu-animate-typing {
    animation: gu-typing 1500ms linear infinite;
}
.block_gearup .gu-cursor-not-allowed {
    cursor: not-allowed;
}
.block_gearup .gu-cursor-pointer {
    cursor: pointer;
}
.block_gearup .gu-select-none {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.block_gearup .gu-snap-y {
    scroll-snap-type: y var(--tw-scroll-snap-strictness);
}
.block_gearup .gu-list-inside {
    list-style-position: inside;
}
.block_gearup .gu-list-outside {
    list-style-position: outside;
}
.block_gearup .\!gu-list-none {
    list-style-type: none !important;
}
.block_gearup .gu-list-disc {
    list-style-type: disc;
}
.block_gearup .gu-list-none {
    list-style-type: none;
}
.block_gearup .gu-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.block_gearup .gu-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.block_gearup .gu-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.block_gearup .gu-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.block_gearup .gu-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.block_gearup .gu-grid-cols-\[50px_1fr\] {
    grid-template-columns: 50px 1fr;
}
.block_gearup .gu-flex-row {
    flex-direction: row;
}
.block_gearup .gu-flex-row-reverse {
    flex-direction: row-reverse;
}
.block_gearup .gu-flex-col {
    flex-direction: column;
}
.block_gearup .gu-flex-wrap {
    flex-wrap: wrap;
}
.block_gearup .gu-flex-nowrap {
    flex-wrap: nowrap;
}
.block_gearup .gu-items-start {
    align-items: flex-start;
}
.block_gearup .gu-items-end {
    align-items: flex-end;
}
.block_gearup .gu-items-center {
    align-items: center;
}
.block_gearup .gu-justify-start {
    justify-content: flex-start;
}
.block_gearup .gu-justify-end {
    justify-content: flex-end;
}
.block_gearup .gu-justify-center {
    justify-content: center;
}
.block_gearup .gu-gap-0\.5 {
    gap: 0.125rem;
}
.block_gearup .gu-gap-1 {
    gap: 0.25rem;
}
.block_gearup .gu-gap-2 {
    gap: 0.5rem;
}
.block_gearup .gu-gap-3 {
    gap: 0.75rem;
}
.block_gearup .gu-gap-4 {
    gap: 1rem;
}
.block_gearup .gu-gap-y-2 {
    row-gap: 0.5rem;
}
.block_gearup .gu-gap-y-4 {
    row-gap: 1rem;
}
.block_gearup :is(.gu--space-y-px > :not([hidden]) ~ :not([hidden])) {
    --tw-space-y-reverse: 0;
    margin-top: calc(-1px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(-1px * var(--tw-space-y-reverse));
}
.block_gearup :is(.gu-space-x-1 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse));
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.block_gearup :is(.gu-space-y-1 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.block_gearup :is(.gu-space-y-1\.5 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
}
.block_gearup :is(.gu-space-y-2 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.block_gearup :is(.gu-space-y-6 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.block_gearup :is(.gu-divide-gray-100 > :not([hidden]) ~ :not([hidden])) {
    --tw-divide-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-divide-opacity, 1));
}
.block_gearup :is(.gu-divide-gray-200 > :not([hidden]) ~ :not([hidden])) {
    --tw-divide-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-divide-opacity, 1));
}
.block_gearup .gu-self-start {
    align-self: flex-start;
}
.block_gearup .gu-self-stretch {
    align-self: stretch;
}
.block_gearup .gu-overflow-hidden {
    overflow: hidden;
}
.block_gearup .gu-overflow-y-auto {
    overflow-y: auto;
}
.block_gearup .gu-overflow-x-hidden {
    overflow-x: hidden;
}
.block_gearup .gu-scroll-smooth {
    scroll-behavior: smooth;
}
.block_gearup .gu-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.block_gearup .gu-whitespace-nowrap {
    white-space: nowrap;
}
.block_gearup .\!gu-rounded {
    border-radius: 0.25rem !important;
}
.block_gearup .\!gu-rounded-none {
    border-radius: 0px !important;
}
.block_gearup .gu-rounded {
    border-radius: 0.25rem;
}
.block_gearup .gu-rounded-full {
    border-radius: 9999px;
}
.block_gearup .gu-rounded-lg {
    border-radius: 0.5rem;
}
.block_gearup .gu-rounded-bl-none {
    border-bottom-left-radius: 0px;
}
.block_gearup .gu-border {
    border-width: 1px;
}
.block_gearup .gu-border-0 {
    border-width: 0px;
}
.block_gearup .gu-border-2 {
    border-width: 2px;
}
.block_gearup .gu-border-4 {
    border-width: 4px;
}
.block_gearup .gu-border-b {
    border-bottom-width: 1px;
}
.block_gearup .gu-border-t {
    border-top-width: 1px;
}
.block_gearup .gu-border-solid {
    border-style: solid;
}
.block_gearup .gu-border-dashed {
    border-style: dashed;
}
.block_gearup .gu-border-\[\#2cbd01\] {
    --tw-border-opacity: 1;
    border-color: rgb(44 189 1 / var(--tw-border-opacity, 1));
}
.block_gearup .gu-border-amber-200 {
    --tw-border-opacity: 1;
    border-color: rgb(253 230 138 / var(--tw-border-opacity, 1));
}
.block_gearup .gu-border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}
.block_gearup .gu-border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}
.block_gearup .gu-border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}
.block_gearup .gu-border-transparent {
    border-color: transparent;
}
.block_gearup .gu-border-t-amber-200 {
    --tw-border-opacity: 1;
    border-top-color: rgb(253 230 138 / var(--tw-border-opacity, 1));
}
.block_gearup .gu-bg-\[\#fffae9\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 250 233 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-amber-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 251 235 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-blue-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-blue-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-blue-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-blue-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 64 175 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 252 231 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-green-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(187 247 208 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-green-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-green-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(21 128 61 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-indigo-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(199 210 254 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-red-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 226 226 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-red-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(185 28 28 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-yellow-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 249 195 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-yellow-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(253 224 71 / var(--tw-bg-opacity, 1));
}
.block_gearup .gu-bg-opacity-0 {
    --tw-bg-opacity: 0;
}
.block_gearup .gu-p-0 {
    padding: 0px;
}
.block_gearup .gu-p-1 {
    padding: 0.25rem;
}
.block_gearup .gu-p-2 {
    padding: 0.5rem;
}
.block_gearup .gu-p-4 {
    padding: 1rem;
}
.block_gearup .gu-p-6 {
    padding: 1.5rem;
}
.block_gearup .gu-p-\[0\.2rem\] {
    padding: 0.2rem;
}
.block_gearup .gu-px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.block_gearup .gu-px-1\.5 {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}
.block_gearup .gu-px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.block_gearup .gu-px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.block_gearup .gu-py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.block_gearup .gu-py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}
.block_gearup .gu-py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.block_gearup .gu-py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.block_gearup .gu-py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.block_gearup .gu-py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.block_gearup .gu-py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.block_gearup .gu-pb-3 {
    padding-bottom: 0.75rem;
}
.block_gearup .gu-pb-4 {
    padding-bottom: 1rem;
}
.block_gearup .gu-pl-1 {
    padding-left: 0.25rem;
}
.block_gearup .gu-pl-2 {
    padding-left: 0.5rem;
}
.block_gearup .gu-pr-0\.5 {
    padding-right: 0.125rem;
}
.block_gearup .gu-pr-1 {
    padding-right: 0.25rem;
}
.block_gearup .gu-pr-2 {
    padding-right: 0.5rem;
}
.block_gearup .gu-pt-0\.5 {
    padding-top: 0.125rem;
}
.block_gearup .gu-pt-2 {
    padding-top: 0.5rem;
}
.block_gearup .gu-pt-4 {
    padding-top: 1rem;
}
.block_gearup .gu-text-left {
    text-align: left;
}
.block_gearup .gu-text-center {
    text-align: center;
}
.block_gearup .gu-text-right {
    text-align: right;
}
.block_gearup .gu-text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.block_gearup .gu-text-2xs {
    font-size: 0.6875rem;
    line-height: 1;
}
.block_gearup .gu-text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.block_gearup .gu-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.block_gearup .gu-text-5xl {
    font-size: 3rem;
    line-height: 1;
}
.block_gearup .gu-text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.block_gearup .gu-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.block_gearup .gu-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.block_gearup .gu-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.block_gearup .gu-text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.block_gearup .gu-font-bold {
    font-weight: 700;
}
.block_gearup .gu-font-medium {
    font-weight: 500;
}
.block_gearup .gu-uppercase {
    text-transform: uppercase;
}
.block_gearup .gu-lowercase {
    text-transform: lowercase;
}
.block_gearup .gu-italic {
    font-style: italic;
}
.block_gearup .gu-leading-5 {
    line-height: 1.25rem;
}
.block_gearup .gu-leading-6 {
    line-height: 1.5rem;
}
.block_gearup .gu-leading-none {
    line-height: 1;
}
.block_gearup .gu-leading-snug {
    line-height: 1.375;
}
.block_gearup .gu-leading-tight {
    line-height: 1.25;
}
.block_gearup .gu-tracking-tight {
    letter-spacing: -0.025em;
}
.block_gearup .\!gu-text-blue-600 {
    --tw-text-opacity: 1 !important;
    color: rgb(37 99 235 / var(--tw-text-opacity, 1)) !important;
}
.block_gearup .gu-text-\[\#ffa200\] {
    --tw-text-opacity: 1;
    color: rgb(255 162 0 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-current {
    color: currentColor;
}
.block_gearup .gu-text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-green-600 {
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-green-700 {
    --tw-text-opacity: 1;
    color: rgb(21 128 61 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-inherit {
    color: inherit;
}
.block_gearup .gu-text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-red-800 {
    --tw-text-opacity: 1;
    color: rgb(153 27 27 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.block_gearup .gu-no-underline {
    text-decoration-line: none;
}
.block_gearup .gu-opacity-0 {
    opacity: 0;
}
.block_gearup .gu-opacity-60 {
    opacity: 0.6;
}
.block_gearup .gu-drop-shadow {
    --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.block_gearup .gu-transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.block_gearup .gu-transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.block_gearup .gu-transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.block_gearup .gu-transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.block_gearup .gu-transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.block_gearup .gu-duration-1000 {
    transition-duration: 1000ms;
}
.block_gearup .gu-duration-300 {
    transition-duration: 300ms;
}
.block_gearup .gu-ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.block_gearup .gu-animation-delay-200 {
    animation-delay: 200ms;
}
.block_gearup .gu-animation-delay-400 {
    animation-delay: 400ms;
}
.block_gearup :is(.gu-divide-x > :not([hidden]) ~ :not([hidden])) {
    border-left-width: 1px;
    border-right-width: 0;
}
.block_gearup :is(.gu-divide-y > :not([hidden]) ~ :not([hidden])) {
    border-top-width: 1px;
    border-bottom-width: 0;
}
.block_gearup :is(.gu-space-x-1 > :not([hidden]) ~ :not([hidden])) {
    margin-right: 0;
    margin-left: 0.25rem;
}
.block_gearup :is(.gu-space-y-1 > :not([hidden]) ~ :not([hidden])) {
    margin-top: 0.25rem;
    margin-bottom: 0;
}
.block_gearup :is(.gu-space-y-1\.5 > :not([hidden]) ~ :not([hidden])) {
    margin-top: 0.375rem;
    margin-bottom: 0;
}
.block_gearup :is(.gu-space-y-2 > :not([hidden]) ~ :not([hidden])) {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.block_gearup :is(.gu-space-y-6 > :not([hidden]) ~ :not([hidden])) {
    margin-top: 1.5rem;
    margin-bottom: 0;
}
/* Emulate BS4 classes to work with BS5. */
.block_gearup  .gu-badge-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.block_gearup  .gu-badge-warning {
    --tw-bg-opacity: 1;
    background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity, 1));
        color: var(--bs-dark);
        background-color: var(--bs-warning);
}
.block_gearup  .gu-badge-pill {
    border-radius: 9999px;
}
/* Expand form textarea to full width. */
.block_gearup :is( .fitem textarea) {
    width: 100%;
}
/** Static form elements do not expand beyond their container's width. */
.block_gearup  .form-control-static {
    max-width: 100%;
}
/* Remove right margin when icon along in button. */
.block_gearup :is( .btn .icon:last-child) {
    margin-right: 0px;
}
/* Remove the bottom border of the last fieldset in modals. */
.block_gearup :is(.modal form > fieldset:last-of-type) {
    border-bottom-width: 0px;
}
/* Prevent Bootstrap rows from creating a horizontal scroll. */
.block_gearup :is( .gu-dynamic-form .row) {
    margin-left: 0px;
    max-width: 100%;
}
/** Heading in the block. */
.block_gearup  .gu-heading-xs {
    margin-bottom: 1rem;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0em;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}
/** Hide accepted file types from some filemanager. **/
.block_gearup :is( .gu-accepted-types-hidden fieldset input[type='hidden'] + p),:is(
    .block_gearup .gu-accepted-types-hidden fieldset .form-filetypes-descriptions) {
    display: none;
}
.block_gearup  .gu-toast {
    visibility: hidden;
        max-width: 54px;
}
.block_gearup  .gu-toast-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}
.block_gearup .gu-toast-img {
        flex: 0 0 54px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.block_gearup .gu-toast-desc {
        flex: 1 1 100%;
    }
.block_gearup  .gu-toast-show {
    visibility: visible;
        animation: gu-toast-fadein 0.5s, gu-toast-expand 0.5s 0.5s;
        animation-fill-mode: forwards;
}
.block_gearup .gu-toast-hide {
        bottom: 30px;
        min-width: 300px;
        opacity: 1;
        animation: gu-toast-shrink 0.5s, gu-toast-fadeout 0.5s 0.5s;
        animation-fill-mode: forwards;
    }
@keyframes gu-toast-fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }
@keyframes gu-toast-expand {
        from {
            min-width: 50px;
        }
        to {
            min-width: 300px;
        }
    }
@keyframes gu-toast-shrink {
        from {
            min-width: 300px;
        }
        to {
            min-width: 50px;
        }
    }
@keyframes gu-toast-fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }
.block_gearup .after\:gu-absolute::after {
    content: var(--tw-content);
    position: absolute;
}
.block_gearup .after\:gu--bottom-2::after {
    content: var(--tw-content);
    bottom: -0.5rem;
}
.block_gearup .after\:gu-left-0::after {
    content: var(--tw-content);
    left: 0px;
}
.block_gearup .after\:gu-hidden::after {
    content: var(--tw-content);
    display: none;
}
.block_gearup .after\:gu-h-0::after {
    content: var(--tw-content);
    height: 0px;
}
.block_gearup .after\:gu-w-0::after {
    content: var(--tw-content);
    width: 0px;
}
.block_gearup .after\:gu-border-l-8::after {
    content: var(--tw-content);
    border-left-width: 8px;
}
.block_gearup .after\:gu-border-r-8::after {
    content: var(--tw-content);
    border-right-width: 8px;
}
.block_gearup .after\:gu-border-t-8::after {
    content: var(--tw-content);
    border-top-width: 8px;
}
.block_gearup .after\:gu-border-transparent::after {
    content: var(--tw-content);
    border-color: transparent;
}
.block_gearup .after\:gu-border-t-blue-50::after {
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-top-color: rgb(239 246 255 / var(--tw-border-opacity, 1));
}
.block_gearup .after\:gu-content-\[\'\'\]::after {
    --tw-content: '';
    content: var(--tw-content);
}
.block_gearup .first\:gu-mt-4:first-child {
    margin-top: 1rem;
}
.block_gearup .first\:gu-border-none:first-child {
    border-style: none;
}
.block_gearup .first\:gu-pt-0:first-child {
    padding-top: 0px;
}
.block_gearup .last\:gu-mb-0:last-child {
    margin-bottom: 0px;
}
.block_gearup .last\:gu-hidden:last-child {
    display: none;
}
.block_gearup .last\:gu-pb-0:last-child {
    padding-bottom: 0px;
}
.block_gearup .empty\:gu-hidden:empty {
    display: none;
}
.block_gearup .hover\:gu-scale-105:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.block_gearup .hover\:gu-bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
.block_gearup .hover\:gu-bg-gray-200:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}
.block_gearup .hover\:gu-bg-opacity-100:hover {
    --tw-bg-opacity: 1;
}
.block_gearup .hover\:gu-text-inherit:hover {
    color: inherit;
}
.block_gearup .hover\:gu-text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.block_gearup .hover\:gu-no-underline:hover {
    text-decoration-line: none;
}
.block_gearup .focus\:gu-z-10:focus {
    z-index: 10;
}
.block_gearup .focus\:gu-ring:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.block_gearup .focus\:gu-ring-inset:focus {
    --tw-ring-inset: inset;
}
.block_gearup .focus\:gu-ring-blue-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity, 1));
}
@keyframes gu-spinhero {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(720deg);
    }
}
.block_gearup :is(.gu-group:hover .group-hover\:gu-animate-spinhero) {
    animation: gu-spinhero 1000ms ease-out;
}
@keyframes gu-stress {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0);
    }
}
.block_gearup :is(.gu-group:hover .group-hover\:gu-animate-stress) {
    animation: gu-stress 150ms 0s 5 linear;
}
.block_gearup :is(.gu-group:hover .group-hover\:gu-text-current) {
    color: currentColor;
}
.block_gearup :is(.gu-group:hover .group-hover\:gu-text-indigo-800) {
    --tw-text-opacity: 1;
    color: rgb(55 48 163 / var(--tw-text-opacity, 1));
}
.block_gearup :is(.gu-group:hover .group-hover\:gu-text-inherit) {
    color: inherit;
}
.block_gearup :is(.gu-group:hover .group-hover\:gu-opacity-100) {
    opacity: 1;
}
.block_gearup :is(.gu-group:focus .group-focus\:gu-opacity-100) {
    opacity: 1;
}
.block_gearup :is(.gu-peer:checked ~ .peer-checked\:gu-border-blue-500) {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
}
.block_gearup :is(.gu-peer:checked ~ .peer-checked\:gu-bg-blue-200) {
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254 / var(--tw-bg-opacity, 1));
}
.block_gearup :is(.gu-peer:empty ~ .peer-empty\:gu-hidden) {
    display: none;
}
@media (min-width: 640px) {
    .block_gearup .sm\:gu-col-span-2 {
        grid-column: span 2 / span 2;
    }
    .block_gearup .sm\:gu-mt-0 {
        margin-top: 0px;
    }
    .block_gearup .sm\:gu-block {
        display: block;
    }
    .block_gearup .sm\:gu-grid {
        display: grid;
    }
    .block_gearup .sm\:gu-h-32 {
        height: 8rem;
    }
    .block_gearup .sm\:gu-w-32 {
        width: 8rem;
    }
    .block_gearup .sm\:gu-grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .block_gearup .sm\:gu-grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .block_gearup .sm\:gu-flex-row {
        flex-direction: row;
    }
    .block_gearup .sm\:gu-gap-4 {
        gap: 1rem;
    }
    .block_gearup .sm\:gu-p-0 {
        padding: 0px;
    }
    .block_gearup .sm\:gu-py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .block_gearup .sm\:gu-py-5 {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}
@media (min-width: 768px) {
    .block_gearup .md\:gu-ml-0 {
        margin-left: 0px;
    }
    .block_gearup .md\:gu-grid-flow-col {
        grid-auto-flow: column;
    }
    .block_gearup .md\:gu-grid-cols-1fr {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }
    .block_gearup .md\:gu-grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .block_gearup .md\:gu-grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .block_gearup .md\:gu-flex-nowrap {
        flex-wrap: nowrap;
    }
}
@media (min-width: 1024px) {
    .block_gearup .lg\:gu-mx-6 {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .block_gearup .lg\:gu-h-64 {
        height: 16rem;
    }
    .block_gearup .lg\:gu-w-64 {
        width: 16rem;
    }
    .block_gearup .lg\:gu-grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}
.block_gearup :is(.\[\&\>\.chart-area\]\:gu-min-h-\[4rem\]>.chart-area) {
    min-height: 4rem;
}
.block_gearup :is(.\[\&_\.chart-image\]\:gu-aspect-square .chart-image) {
    aspect-ratio: 1 / 1;
}
.block_gearup :is(.\[\&_\.chart-image\]\:gu-h-auto .chart-image) {
    height: auto;
}
.block_gearup :is(.\[\&_\.chart-image\]\:gu-max-h-full .chart-image) {
    max-height: 100%;
}
.block_gearup :is(.\[\&_\.chart-image\]\:gu-max-w-full .chart-image) {
    max-width: 100%;
}
@media (min-width: 1024px) {
    .block_gearup :is(.\[\&_\.chart-image\]\:lg\:gu-max-h-\[48vh\] .chart-image) {
        max-height: 48vh;
    }
}
.block_gearup :is(.last-of-type\:\[\&_p\]\:gu-mb-0 p:last-of-type) {
    margin-bottom: 0px;
}
.block_gearup :is(.\[\&_pre\]\:gu-bg-gray-100 pre) {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
.block_gearup :is(.\[\&_pre\]\:gu-p-2 pre) {
    padding: 0.5rem;
}
.block_gearup :is(.no-overflow .\[\.no-overflow_\&\]\:gu-mx-0) {
    margin-left: 0px;
    margin-right: 0px;
}
