{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/table/col_fullname

    Column fullname.

    Example context (json):
    {
    }
}}
{{#linkurl}}<a href="{{ . }}" class="gu-inline-flex gu-gap-2 gu-items-center aabtn">{{/linkurl}}
{{^linkurl}}<div class="gu-flex gu-gap-2 gu-items-center">{{/linkurl}}
    {{#picurl}}
    <div class="gu-shrink-0 gu-grow-0">
        <img src="{{ . }}" alt="" role="decoration" class="gu-rounded-full gu-size-8 no-underline gu-inline-block" aria-hidden>
    </div>
    {{/picurl}}
    <div class="gu-grow">{{ fullname }}</div>
{{#linkurl}}</a>{{/linkurl}}
{{^linkurl}}</div>{{/linkurl}}