{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/table/filters

    Mission instances filters.

    Example context (json):
    {
    }
}}
<div class="gu-my-4">
    <form action="{{ action }}" method="get">
        {{#hiddenfields}}
            <input type="hidden" name="{{ name }}" value="{{ value }}">
        {{/hiddenfields}}
        <div class="gu-flex gu-gap-2 gu-flex-wrap md:gu-flex-nowrap">
            {{$fields}}
            {{/fields}}
            <div>
                <button type="submit" class="btn btn-secondary">{{#str}} apply, block_gearup {{/str}}</button>
            </div>
        </div>
    </form>
</div>