{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/table/filter_group

    Mission instances filters.

    Example context (json):
    {
    }
}}
<div>
    <label for="gu-table-filter-groupid-{{uniqid}}" class="gu-sr-only">{{$ label }}{{ label }}{{/ label }}</label>
    <select
        id="gu-table-filter-groupid-{{uniqid}}"
        class="form-control form-select gu-inline-block gu-max-w-48"
        name="group" {{! Must be called group for now. }}
        value="{{ groupid }}"
    >
        {{# groupoptions }}
            {{# isoptgroup }}
                <optgroup label="{{ label }}">
                {{# children }}
                    <option value="{{ value }}" {{# selected }}selected{{/selected}}>{{ label }}</option>
                {{/ children }}
                </optgroup>
            {{/ isoptgroup }}
            {{^ isoptgroup }}
                <option value="{{ value }}" {{# selected }}selected{{/selected}}>{{ label }}</option>
            {{/ isoptgroup }}
        {{/ groupoptions }}
    </select>
</div>
