{{!
    This file is part of Level Up Quest.

    Level Up Quest is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up Quest is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up Quest.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template block_gearup/table/mission_instances_filters

    Mission instances filters.

    Example context (json):
    {
    }
}}
{{< block_gearup/table/filters }}
    {{$ fields }}
        {{# withgroup }}
            {{< block_gearup/table/filter_group }}
                {{$ label }}{{#str}} group, core {{/str}}{{/ label }}
            {{/ block_gearup/table/filter_group }}
        {{/ withgroup }}
        {{< block_gearup/table/filter_term }}
            {{$ label }}{{#str}} filterrecruits, block_gearup {{/str}}{{/ label }}
        {{/ block_gearup/table/filter_term }}
        {{#withstatus}}
        <div>
            <select class="form-control form-select gu-inline-block gu-max-w-48" name="status">
                <option value="" {{#statusis_any}}selected{{/statusis_any}}>{{#str}} anystate, block_gearup {{/str}}</option>
                {{#isachievement}}
                <optgroup label="{{#str}} inprogress, block_gearup {{/str}}">
                    <option value="inprogress_zero" {{#statusis_inprogress_zero}}selected{{/statusis_inprogress_zero}}>{{#str}} noprogress, block_gearup {{/str}}</option>
                    <option value="inprogress_partial" {{#statusis_inprogress_partial}}selected{{/statusis_inprogress_partial}}>{{#str}} nonzero, block_gearup {{/str}}</option>
                </optgroup>
                <optgroup label="{{#str}} exactstate, block_gearup {{/str}}">
                    <option value="is_started" {{#statusis_is_started}}selected{{/statusis_is_started}}>{{#str}} isstarted, block_gearup {{/str}}</option>
                    <option value="has_completed" {{#statusis_has_completed}}selected{{/statusis_has_completed}}>{{#str}} iscompleted, block_gearup {{/str}}</option>
                </optgroup>
                {{/isachievement}}
                {{^isachievement}}
                <optgroup label="{{#str}} inprogress, block_gearup {{/str}}">
                    <option value="inprogress_zero" {{#statusis_inprogress_zero}}selected{{/statusis_inprogress_zero}}>{{#str}} noprogress, block_gearup {{/str}}</option>
                    <option value="inprogress_partial" {{#statusis_inprogress_partial}}selected{{/statusis_inprogress_partial}}>{{#str}} nonzero, block_gearup {{/str}}</option>
                </optgroup>
                <optgroup label="{{#str}} exactstate, block_gearup {{/str}}">
                    <option value="is_started" {{#statusis_is_started}}selected{{/statusis_is_started}}>{{#str}} isstarted, block_gearup {{/str}}</option>
                    <option value="is_completed" {{#statusis_is_completed}}selected{{/statusis_is_completed}}>{{#str}} iscompleted, block_gearup {{/str}}</option>
                    {{#isfinishable}}
                    <option value="is_ended" {{#statusis_is_ended}}selected{{/statusis_is_ended}}>{{#str}} isended, block_gearup {{/str}}</option>
                    {{/isfinishable}}
                </optgroup>
                <optgroup label="{{#str}} minimumstate, block_gearup {{/str}}">
                    <option value="has_started" {{#statusis_has_started}}selected{{/statusis_has_started}}>{{#str}} hasstarted, block_gearup {{/str}}</option>
                    <option value="has_completed" {{#statusis_has_completed}}selected{{/statusis_has_completed}}>{{#str}} hascompleted, block_gearup {{/str}}</option>
                </optgroup>
                <optgroup label="{{#str}} negativestate, block_gearup {{/str}}">
                    {{^iscompulsory}}
                    <option value="not_started" {{#statusis_not_started}}selected{{/statusis_not_started}}>{{#str}} hasnotstarted, block_gearup {{/str}}</option>
                    {{/iscompulsory}}
                    <option value="not_completed" {{#statusis_not_completed}}selected{{/statusis_not_completed}}>{{#str}} hasnotcompleted, block_gearup {{/str}}</option>
                    {{#isfinishable}}
                    <option value="not_ended" {{#statusis_not_ended}}selected{{/statusis_not_ended}}>{{#str}} hasnotended, block_gearup {{/str}}</option>
                    {{/isfinishable}}
                </optgroup>
                {{/isachievement}}
            </select>
        </div>
        {{/withstatus}}
    {{/ fields }}
{{/ block_gearup/table/filters }}
